<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IAdoptOrderDAO">
	<resultMap id="adoptOrder_DB_Result" type="adoptOrder">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="product_code" property="productCode" />
		<result column="product_specs_name" property="productSpecsName" />
		<result column="price" property="price" />
		
		<result column="start_datetime" property="startDatetime" />
		<result column="end_datetime" property="endDatetime" />
		<result column="quantity" property="quantity" />
		<result column="amount" property="amount" />
		<result column="apply_user" property="applyUser" />
		
		<result column="apply_datetime" property="applyDatetime" />
		<result column="status" property="status" />
		<result column="pay_type" property="payType" />
		<result column="pay_group" property="payGroup" />
		<result column="pay_code" property="payCode" />
		
		<result column="cny_deduct_amount" property="cnyDeductAmount" />
		<result column="jf_deduct_amount" property="jfDeductAmount" />
		<result column="pay_amount" property="payAmount" />
		<result column="pay_datetime" property="payDatetime" />
		<result column="back_jf_amount" property="backJfAmount" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND t.product_code = #{productCode}
			</if>
			<if test="productSpecsName != null and productSpecsName != '' ">
				AND t.product_specs_name = #{productSpecsName}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				<![CDATA[AND t.apply_datetime >= #{applyDatetimeStart}]]>
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				<![CDATA[AND t.apply_datetime <= #{applyDatetimeEnd}]]>
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="startDatetimeStart != null and startDatetimeStart != '' ">
				<![CDATA[AND t.start_datetime >= #{startDatetimeStart}]]>
			</if>
			<if test="startDatetimeEnd != null and startDatetimeEnd != '' ">
				<![CDATA[AND t.start_datetime <= #{startDatetimeEnd}]]>
			</if>
			<if test="endDatetimeStart != null and endDatetimeStart != '' ">
				<![CDATA[AND t.end_datetime >= #{endDatetimeStart}]]>
			</if>
			<if test="endDatetimeEnd != null and endDatetimeEnd != '' ">
				<![CDATA[AND t.end_datetime <= #{endDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	<select id="select_adoptOrder" parameterType="adoptOrder" resultMap="adoptOrder_DB_Result">
		SELECT
		t.code
		,t.type
		,t.product_code
		,t.product_specs_name
		,t.price
		,t.start_datetime
		,t.end_datetime
		,t.quantity
		,t.amount
		,t.apply_user
		,t.apply_datetime
		,t.status
		,t.pay_type
		,t.pay_group
		,t.pay_code
		,t.pay_amount
		,t.cny_deduct_amount
		,t.jf_deduct_amount
		,t.pay_datetime
		,t.back_jf_amount
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		try_adopt_order t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_adoptOrder_count" parameterType="adoptOrder"
		resultType="java.lang.Long">
		SELECT count(1) FROM try_adopt_order t
		<include refid="where_condition" />
	</select>

	<insert id="insert_adoptOrder" parameterType="adoptOrder">
		INSERT INTO
		try_adopt_order(
		code
		,type
		,product_code
		,product_specs_name
		,price
		,start_datetime
		,end_datetime
		,quantity
		,amount
		,apply_user
		,apply_datetime
		,status
		)
		VALUES(
		#{code}
		,#{type}
		,#{productCode}
		,#{productSpecsName}
		,#{price}
		,#{startDatetime}
		,#{endDatetime}
		,#{quantity}
		,#{amount}
		,#{applyUser}
		,#{applyDatetime}
		,#{status}
		)
	</insert>

	<update id="update_cancelAdoptOrder" parameterType="adoptOrder">
		UPDATE try_adopt_order
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_payYueSuccess" parameterType="adoptOrder">
		UPDATE try_adopt_order
		SET
		status = #{status}
		,pay_type = #{payType}
		,cny_deduct_amount = #{cnyDeductAmount}
		,jf_deduct_amount = #{jfDeductAmount}
		,pay_amount = #{payAmount}
		,pay_datetime = #{payDatetime}
		,back_jf_amount = #{backJfAmount}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_payGroup" parameterType="adoptOrder">
		UPDATE try_adopt_order
		SET
		pay_type = #{payType}
		,pay_group = #{payGroup}
		,cny_deduct_amount = #{cnyDeductAmount}
		,jf_deduct_amount = #{jfDeductAmount}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_paySuccess" parameterType="adoptOrder">
		UPDATE try_adopt_order
		SET
		status = #{status}
		,pay_amount = #{payAmount}
		,pay_datetime = #{payDatetime}
		,back_jf_amount = #{backJfAmount}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>