<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IAdoptOrderTreeDAO">
	<resultMap id="adoptOrderTree_DB_Result" type="adoptOrderTree">
		<result column="code" property="code" />
		<result column="order_type" property="orderType" />
		<result column="order_code" property="orderCode" />
		<result column="parent_category_code" property="parentCategoryCode" />
		<result column="category_code" property="categoryCode" />
		<result column="owner_id" property="ownerId" />
		
		<result column="product_code" property="productCode" />
		<result column="tree_number" property="treeNumber" />
		<result column="start_datetime" property="startDatetime" />
		<result column="end_datetime" property="endDatetime" />
		<result column="amount" property="amount" />
		
		<result column="status" property="status" />
		<result column="current_holder" property="currentHolder" />
		<result column="certificate_template" property="certificateTemplate" />
		<result column="create_datetime" property="createDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="orderType != null and orderType != '' ">
				AND t.order_type = #{orderType}
			</if>
			<if test="orderCode != null and orderCode != '' ">
				AND t.order_code = #{orderCode}
			</if>
			<if test="orderCodeForQuery != null and orderCodeForQuery != '' ">
				AND t.order_code like '%'#{orderCodeForQuery}'%'
			</if>
			<if test="parentCategoryCode != null and parentCategoryCode != '' ">
				AND t.parent_category_code = #{parentCategoryCode}
			</if>
			<if test="categoryCode != null and categoryCode != '' ">
				AND t.category_code = #{categoryCode}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND t.product_code = #{productCode}
			</if>
			<if test="ownerId != null and ownerId != '' ">
				AND t.owner_id = #{ownerId}
			</if>
			
			<if test="treeNumber != null and treeNumber != '' ">
				AND t.tree_number = #{treeNumber}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			
			<if test="statusList != null and statusList != '' ">
				AND t.status in 
                <foreach item="item" index="index" collection="statusList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
			<if test="orderTypeList != null and orderTypeList != '' ">
				AND t.order_type in 
                <foreach item="item" index="index" collection="orderTypeList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
			
			<if test="currentHolder != null and currentHolder != '' ">
				AND t.current_holder = #{currentHolder}
			</if>
			
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	
	<select id="select_adoptOrderTree" parameterType="adoptOrderTree" resultMap="adoptOrderTree_DB_Result">
		SELECT
		t.code
		,t.order_type
		,t.order_code
		,t.parent_category_code
		,t.category_code
		,t.owner_id
		
		,t.product_code
		,t.tree_number
		,t.start_datetime
		,t.end_datetime
		,t.amount
		
		,t.status
		,t.current_holder
		,t.certificate_template
		,t.create_datetime
		,t.remark
		FROM
		try_adopt_order_tree t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_productAdoptedOrderTree" parameterType="adoptOrderTree" resultMap="adoptOrderTree_DB_Result">
		SELECT
		t.code
		,1 as userAdoptTreeCount
		,t.tree_number
		,t.start_datetime
		,t.current_holder
		,t.amount
 		FROM
		try_adopt_order_tree t
		<include refid="where_condition" />
<!-- 		group by t.current_holder having userAdoptTreeCount > 0 -->
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_adoptOrderTree_count" parameterType="adoptOrderTree"
		resultType="java.lang.Long">
		SELECT count(1) FROM try_adopt_order_tree t
		<include refid="where_condition" />
	</select>
	
	<select id="select_distinctAdoptOrderTree_count" parameterType="adoptOrderTree"
		resultType="java.lang.Long">
		SELECT count(distinct(t.tree_number)) FROM try_adopt_order_tree t
		<include refid="where_condition" />
	</select>
	
	<select id="select_adoptOrderTree_amountSum" parameterType="adoptOrderTree"
		resultType="java.math.BigDecimal">
		SELECT IFNULL(SUM(t.amount), 0) FROM try_adopt_order_tree t
		<include refid="where_condition" />
	</select>

	<insert id="insert_adoptOrderTree" parameterType="adoptOrderTree">
		INSERT INTO
		try_adopt_order_tree(
		code
		,order_type
		,order_code
		,parent_category_code
		,category_code
		,owner_id
		
		,product_code
		,tree_number
		,start_datetime
		,end_datetime
		,amount
		
		,status
		,current_holder
		,certificate_template
		,create_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{orderType}
		,#{orderCode}
		,#{parentCategoryCode}
		,#{categoryCode}
		,#{ownerId}
		
		,#{productCode}
		,#{treeNumber}
		,#{startDatetime}
		,#{endDatetime}
		,#{amount}
		
		,#{status}
		,#{currentHolder}
		,#{certificateTemplate}
		,#{createDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_status" parameterType="adoptOrderTree">
		UPDATE try_adopt_order_tree
		SET
		status = #{status}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_invalidByOrder" parameterType="adoptOrderTree">
		UPDATE try_adopt_order_tree
		SET
		status = #{status}
		,remark = #{remark}
		WHERE order_code = #{orderCode}
	</update>
</mapper>