<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IApplyBindMaintainDAO">
	<resultMap id="applyBindMaintain_DB_Result" type="applyBindMaintain">
		<result column="code" property="code" />
		<result column="owner_id" property="ownerId" />
		<result column="maintain_id" property="maintainId" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="join_condition">
		<if test="ownerUserName != null and ownerUserName != '' ">
			left join tsys_user ts on t.owner_id = ts.user_id
		</if>
		<if test="maintainUserName != null and maintainUserName != '' ">
			left join tsys_user ts on t.maintain_id = ts.user_id
		</if>
		<if test="ownerCompanyName != null and ownerCompanyName != '' ">
			left join tsys_company tc on t.owner_id = tc.user_id
		</if>
	</sql>
	
	<sql id="nameForQuery_condition">
		<if test="ownerUserName != null and ownerUserName != '' ">
				AND concat_ws('-', ts.real_name, ts.mobile) like "%"#{ownerUserName}"%"
		</if>
		<if test="maintainUserName != null and maintainUserName != '' ">
				AND concat_ws('-', ts.real_name, ts.mobile) like "%"#{maintainUserName}"%"
		</if>
		<if test="ownerCompanyName != null and ownerCompanyName != '' ">
				AND tc.name like "%"#{ownerCompanyName}"%"
		</if>
	</sql>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
				AND 1 = 1
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="ownerId != null and ownerId != '' ">
				AND t.owner_id = #{ownerId}
			</if>
			<if test="maintainId != null and maintainId != '' ">
				AND t.maintain_id = #{maintainId}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			
			<if test="updateDatetimeStart != null and updateDatetimeStart != '' ">
				<![CDATA[AND t.update_datetime >= #{updateDatetimeStart}]]>
			</if>
			<if test="updateDatetimeEnd != null and updateDatetimeEnd != '' ">
				<![CDATA[AND t.update_datetime <= #{updateDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	
	<select id="select_applyBindMaintain" parameterType="applyBindMaintain" resultMap="applyBindMaintain_DB_Result">
		SELECT
		t.code
		,t.owner_id
		,t.maintain_id
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tsys_apply_bind_maintain t
		<include refid="join_condition" />
		<include refid="where_condition" />
		<include refid="nameForQuery_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_applyBindMaintain_count" parameterType="applyBindMaintain"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsys_apply_bind_maintain t
		<include refid="join_condition" />
		<include refid="where_condition" />
		<include refid="nameForQuery_condition" />
	</select>

	<insert id="insert_applyBindMaintain" parameterType="applyBindMaintain">
		INSERT INTO
		tsys_apply_bind_maintain(
		code
		,owner_id
		,maintain_id
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{ownerId}
		,#{maintainId}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_reBindMaintain" parameterType="applyBindMaintain">
		UPDATE tsys_apply_bind_maintain
		SET
		maintain_id = #{maintainId}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_unBindMaintain" parameterType="applyBindMaintain">
		UPDATE tsys_apply_bind_maintain
		SET
		status = #{status}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="approve_applyBindMaintain" parameterType="applyBindMaintain">
		UPDATE tsys_apply_bind_maintain
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>