<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IAttentionDAO">
	<resultMap id="attention_DB_Result" type="attention">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="user_id" property="userId" />
		<result column="group_code" property="groupCode" />
		<result column="group_user_id" property="groupUserId" />
		
		<result column="create_datetime" property="createDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="groupCode != null and groupCode != '' ">
				AND t.group_code = #{groupCode}
			</if>
		</trim>
	</sql>
	<select id="select_attention" parameterType="attention" resultMap="attention_DB_Result">
		SELECT
		t.code
		,t.type
		,t.user_id
		,t.group_code
		,t.group_user_id
		
		,t.create_datetime
		FROM
		tsimu_attention t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_attention_count" parameterType="attention"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsimu_attention t
		<include refid="where_condition" />
	</select>

	<insert id="insert_attention" parameterType="attention">
		INSERT INTO
		tsimu_attention(
		code
		,type
		,user_id
		,group_code
		,group_user_id
		
		,create_datetime
		)
		VALUES(
		#{code}
		,#{type}
		,#{userId}
		,#{groupCode}
		,#{groupUserId}
		
		,#{createDatetime}
		)
	</insert>


</mapper>