<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IBtcMAddressDAO">
	<resultMap id="btcMAddress_DB_Result" type="btcMAddress">
		<result column="id" property="id" />
		<result column="address" property="address" />
		<result column="privatekey" property="privatekey" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="address != null and address != '' ">
				AND t.address = #{address}
			</if>
			<if test="addressForQuery != null and addressForQuery != '' ">
				AND t.address like "%"#{addressForQuery}"%"
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	<select id="select_btcMAddress" parameterType="btcMAddress" resultMap="btcMAddress_DB_Result">
		SELECT
		t.id
		,t.address
		,t.privatekey
		,t.status
		,t.create_datetime
		FROM
		tcoin_btc_maddress t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	

	<select id="select_btcMAddress_count" parameterType="btcMAddress"
		resultType="java.lang.Long">
		SELECT count(1) FROM tcoin_btc_maddress t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_btcMAddress" parameterType="btcMAddress">
		INSERT INTO
		tcoin_btc_maddress(
		
		address
		,privatekey
		,status
		,create_datetime
		
		)
		VALUES(
		
		#{address}
		,#{privatekey}
		,#{status}
		,#{createDatetime}
		
		)
	</insert>
	
	<update id="update_status" parameterType="btcMAddress">
		UPDATE tcoin_btc_maddress
		SET
		status = #{status}
		WHERE id = #{id}
	</update>
	


</mapper>