<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IBtcTransactionDAO">
	<resultMap id="btcTransaction_DB_Result" type="btcTransaction">
		<result column="txid" property="txid" />
		<result column="version" property="version" />
		<result column="blockheight" property="blockheight" />
		<result column="coinbase" property="coinbase" />
		<result column="blockhash" property="blockhash" />
		<result column="blocktime" property="blocktime" />
		<result column="valuein" property="valuein" />
		<result column="valueout" property="valueout" />
		<result column="fees" property="fees" />
		<result column="vin" property="vin" />
		<result column="vout" property="vout" />
		<result column="ref_no" property="refNo" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="txid != null and txid != '' ">
				AND t.txid = #{txid}
			</if>
			<if test="coinbase != null and coinbase != '' ">
				AND t.coinbase = #{coinbase}
			</if>
			<if test="refNo != null and refNo != '' ">
				AND t.ref_no = #{refNo}
			</if>
		</trim>
	</sql>
	<select id="select_btcTransaction" parameterType="btcTransaction" resultMap="btcTransaction_DB_Result">
		SELECT
		t.txid
		,t.version
		,t.blockheight
		,t.coinbase
		,t.blockhash
		,t.blocktime
		,t.valuein
		,t.valueout
		,t.fees
		,t.vin
		,t.vout
		,t.ref_no
		FROM
		tcoin_btc_transaction t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_btcTransaction_count" parameterType="btcTransaction"
		resultType="java.lang.Long">
		SELECT count(1) FROM tcoin_btc_transaction t
		<include refid="where_condition" />
	</select>

	<insert id="insert_btcTransaction" parameterType="btcTransaction">
		INSERT INTO
		tcoin_btc_transaction(
		txid
		,version
		,blockheight
		,coinbase
		,blockhash
		,blocktime
		,valuein
		,valueout
		,fees
		,vin
		,vout
		,ref_no
		)
		VALUES(
		#{txid}
		,#{version}
		,#{blockheight}
		,#{coinbase}
		,#{blockhash}
		,#{blocktime}
		,#{valuein}
		,#{valueout}
		,#{fees}
		,#{vin}
		,#{vout}
		,#{refNo}
		)
	</insert>

</mapper>