<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IBtcAddressDAO">
	<resultMap id="btcXAddress_DB_Result" type="btcXAddress">
		<result column="id" property="id" />
		<result column="address" property="address" />
		<result column="privatekey" property="privatekey" />
		<result column="user_id" property="userId" />
		<result column="create_datetime" property="createDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="address != null and address != '' ">
				AND t.address = #{address}
			</if>
			<if test="privatekey != null and privatekey != '' ">
				AND t.privatekey = #{privatekey}
			</if>
			<if test="addressForQuery != null and addressForQuery != '' ">
				AND t.address like "%"#{addressForQuery}"%"
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
		</trim>
	</sql>
	<select id="select_btcAddress" parameterType="btcXAddress" resultMap="btcXAddress_DB_Result">
		SELECT
		t.id
		,t.address
		,t.privatekey
		,t.user_id
		,t.create_datetime
		FROM
		tcoin_btc_xaddress t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_btcAddress_count" parameterType="btcXAddress"
		resultType="java.lang.Long">
		SELECT count(1) FROM tcoin_btc_xaddress t
		<include refid="where_condition" />
	</select>

	<insert id="insert_btcAddress" parameterType="btcXAddress">
		INSERT INTO
		tcoin_btc_address(
		id
		,address
		,privatekey
		,user_id
		,create_datetime
		)
		VALUES(
		#{id}
		,#{address}
		,#{privatekey}
		,#{userId}
		,#{createDatetime}
	</insert>

	

</mapper>