<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.ICartDAO">
	<resultMap id="cart_DB_Result" type="cart">
		<result column="code" property="code" />
		<result column="shop_code" property="shopCode" />
		<result column="user_id" property="userId" />
		<result column="commodity_code" property="commodityCode" />
		<result column="commodity_name" property="commodityName" />
		
		<result column="specs_id" property="specsId" />
		<result column="specs_name" property="specsName" />
		<result column="quantity" property="quantity" />
		<result column="amount" property="amount" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="codeList != null and codeList != '' ">
                AND t.code in
                <foreach item="item" index="index" collection="codeList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="shopCode != null and shopCode != '' ">
				AND t.shop_code = #{shopCode}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="specsId != null and specsId != '' ">
				AND t.specs_id = #{specsId}
			</if>
		</trim>
	</sql>
	
	<select id="select_cart" parameterType="cart" resultMap="cart_DB_Result">
		SELECT
		t.code
		,t.shop_code
		,t.user_id
		,t.commodity_code
		,t.commodity_name
		,t.specs_id
		,t.specs_name
		,t.quantity
		,t.amount
		FROM
		tsc_cart t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_distinctShop" parameterType="cart" resultMap="cart_DB_Result">
		SELECT
		DISTINCT
		t.shop_code
		FROM
		tsc_cart t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_cart_count" parameterType="cart"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsc_cart t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_cart" parameterType="cart">
		INSERT INTO
		tsc_cart(
		code
		,shop_code
		,user_id
		,commodity_code
		,commodity_name
		,specs_id
		
		,specs_name
		,quantity
		,amount
		)
		VALUES(
		#{code}
		,#{shopCode}
		,#{userId}
		,#{commodityCode}
		,#{commodityName}
		,#{specsId}
		
		,#{specsName}
		,#{quantity}
		,#{amount}
		)
	</insert>
	
	<update id="update_quantity">
		UPDATE tsc_cart SET quantity = #{quantity}
	</update>
	
	<delete id="delete_cart" parameterType="cart">
		DELETE FROM tsc_cart
		WHERE code=#{code}
	</delete>

	<delete id="delete_byShop" parameterType="cart">
		DELETE FROM tsc_cart WHERE shop_code = #{shopCode}
	</delete>
</mapper>