<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.ICoinAcceptOrderDAO">
	<resultMap id="coinAcceptOrder_DB_Result" type="coinAcceptOrder">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="user_id" property="userId" />
		<result column="accept_user" property="acceptUser" />
		<result column="trade_currency" property="tradeCurrency" />
		
		<result column="trade_coin" property="tradeCoin" />
		<result column="trade_price" property="tradePrice" />
		<result column="count" property="count" />
		<result column="trade_amount" property="tradeAmount" />
		<result column="fee" property="fee" />
		
		<result column="invalid_datetime" property="invalidDatetime" />
		<result column="pay_type" property="payType" />
		<result column="pay_info" property="payInfo" />
		<result column="pay_bank" property="payBank" />
		<result column="pay_card_no" property="payCardNo" />
		
		<result column="receive_type" property="receiveType" />
		<result column="receive_info" property="receiveInfo" />
		<result column="receive_bank" property="receiveBank" />
		<result column="receive_card_no" property="receiveCardNo" />
		<result column="status" property="status" />
		
		<result column="mark_datetime" property="markDatetime" />
		<result column="mark_note" property="markNote" />
		<result column="release_datetime" property="releaseDatetime" />
		<result column="create_datetime" property="createDatetime" />
		<result column="updater" property="updater" />
		
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
                AND `code` = #{code}
            </if>
            
            <if test="userId != null and userId != '' ">
                AND `user_id` = #{userId}
            </if>
            
            <if test="payCardNo != null and payCardNo != '' ">
                AND `pay_card_no` = #{payCardNo}
            </if>
            
            <if test="payType != null and payType != '' ">
                AND `pay_type` = #{payType}
            </if>
            
            <if test="receiveCardNo != null and receiveCardNo != '' ">
                AND `receive_card_no` = #{receiveCardNo}
            </if>
            
            <if test="receiveType != null and receiveType != '' ">
                AND `receive_type` = #{receiveType}
            </if>
            
            <if test="acceptUser != null and acceptUser != '' ">
                AND `accept_user` = #{acceptUser}
            </if>
            
            <if test="status != null and status != '' ">
                AND `status` = #{status}
            </if>
            
            <if test="tradeCoin != null and tradeCoin != '' ">
                AND `trade_coin` = #{tradeCoin}
            </if>
            
            <if test="tradeCurrency != null and tradeCurrency != '' ">
                AND `trade_currency` = #{tradeCurrency}
            </if>
            
            <if test="type != null and type != '' ">
                AND `type` = #{type}
            </if>
		</trim>
	</sql>
	<select id="select_coinAcceptOrder" parameterType="coinAcceptOrder" resultMap="coinAcceptOrder_DB_Result">
		SELECT
		t.code
		,t.type
		,t.user_id
		,t.accept_user
		,t.trade_currency
		
		,t.trade_coin
		,t.trade_price
		,t.count
		,t.trade_amount
		,t.fee
		
		,t.invalid_datetime
		,t.pay_type
		,t.pay_info
		,t.pay_bank
		,t.pay_card_no
		
		,t.receive_type
		,t.receive_info
		,t.receive_bank
		,t.receive_card_no
		,t.status
		
		,t.mark_datetime
		,t.mark_note
		,t.release_datetime
		,t.create_datetime
		,t.updater
		
		,t.update_datetime
		,t.remark
		FROM
		tcoin_accept_order t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
            
		</trim>
	</select>

	<select id="select_coinAcceptOrder_count" parameterType="coinAcceptOrder"
		resultType="java.lang.Long">
		SELECT count(1) FROM tcoin_accept_order t
		<include refid="where_condition" />
	</select>

	<insert id="insert_coinAcceptOrder" parameterType="coinAcceptOrder">
		INSERT INTO
		tcoin_accept_order(
		code
		,type
		,user_id
		,accept_user
		,trade_currency
		
		,trade_coin
		,trade_price
		,count
		,trade_amount
		,fee
		
		,invalid_datetime
		,pay_type
		,pay_info
		,pay_bank
		
		,pay_card_no
		,receive_type
		,receive_info
		,receive_bank
		,receive_card_no
		
		,status
		,mark_datetime
		,mark_note
		,release_datetime
		,create_datetime
		,updater
		
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{type}
		,#{userId}
		,#{acceptUser}
		,#{tradeCurrency}
		
		,#{tradeCoin}
		,#{tradePrice}
		,#{count}
		,#{tradeAmount}
		,#{fee}
		
		,#{invalidDatetime}
		,#{payType}
		,#{payInfo}
		,#{payBank}
		,#{payCardNo}
		
		,#{receiveType}
		,#{receiveInfo}
		,#{receiveBank}
		,#{receiveCardNo}
		
		,#{status}
		,#{markDatetime}
		,#{markNote}
		,#{releaseDatetime}
		,#{createDatetime}
		,#{updater}
		
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_coinAcceptOrder" parameterType="coinAcceptOrder">
		UPDATE tcoin_accept_order
		SET
		type = #{type}
		,user_id = #{userId}
		,accept_user = #{acceptUser}
		,trade_currency = #{tradeCurrency}
		,trade_coin = #{tradeCoin}
		,trade_price = #{tradePrice}
		,count = #{count}
		,trade_amount = #{tradeAmount}
		,fee = #{fee}
		,invalid_datetime = #{invalidDatetime}
		,pay_type = #{payType}
		,pay_info = #{payInfo}
		,pay_bank = #{payBank}
		,pay_card_no = #{payCardNo}
		,receive_type = #{receiveType}
		,receive_info = #{receiveInfo}
		,receive_bank = #{receiveBank}
		,receive_card_no = #{receiveCardNo}
		,status = #{status}
		,mark_datetime = #{markDatetime}
		,mark_note = #{markNote}
		,release_datetime = #{releaseDatetime}
		,create_datetime = #{createDatetime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_cancel" parameterType="coinAcceptOrder">
        UPDATE tcoin_accept_order
        SET
            status            = #{status}
            , updater         = #{updater}
            , update_datetime = #{updateDatetime}
            , remark          = #{remark}
        WHERE code = #{code}
    </update>

    <update id="update_markPay" parameterType="coinAcceptOrder">
        UPDATE tcoin_accept_order
        SET
            status            = #{status}
            , mark_datetime   = #{markDatetime}
            , updater         = #{updater}
            , update_datetime = #{updateDatetime}
            , remark          = #{remark}
        WHERE code = #{code}
    </update>


</mapper>