<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.ICommodityOrderDAO">
	<resultMap id="commodityOrder_DB_Result" type="commodityOrder">
		<result column="code" property="code" />
		<result column="shop_code" property="shopCode" />
		<result column="amount" property="amount" />
		<result column="quantity" property="quantity" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		
		<result column="apply_note" property="applyNote" />
		<result column="express_type" property="expressType" />
		<result column="pay_type" property="payType" />
		<result column="pay_group" property="payGroup" />
		<result column="pay_code" property="payCode" />
		
		<result column="pay_datetime" property="payDatetime" />
		<result column="pay_amount" property="payAmount" />
		<result column="cny_deduct_amount" property="cnyDeductAmount" />
		<result column="jf_deduct_amount" property="jfDeductAmount" />
		<result column="back_jf_amount" property="backJfAmount" />
		
		<result column="address_code" property="addressCode" />
		<result column="logistics_company" property="logisticsCompany" />
		<result column="logistics_number" property="logisticsNumber" />
		<result column="deliver" property="deliver" />
		<result column="deliver_datetime" property="deliverDatetime" />
		
		<result column="receiver" property="receiver" />
		<result column="receiver_mobile" property="receiverMobile" />
		<result column="receiver_datetime" property="receiverDatetime" />
		<result column="status" property="status" />
		<result column="settle_status" property="settleStatus" />
		
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="shopCode != null and shopCode != '' ">
				AND t.shop_code = #{shopCode}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="expressType != null and expressType != '' ">
				AND t.express_type = #{expressType}
			</if>
			<if test="payType != null and payType != '' ">
				AND t.pay_type = #{payType}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="settleStatus != null and settleStatus != '' ">
				AND t.settle_status = #{settleStatus}
			</if>
			<if test="payGroup != null and payGroup != '' ">
				AND t.pay_group = #{payGroup}
			</if>
			<if test="addressCode != null and addressCode != '' ">
				AND t.address_code = #{addressCode}
			</if>
			<if test="deliver != null and deliver != '' ">
				AND t.deliver = #{deliver}
			</if>
			<if test="receiver != null and receiver != '' ">
				AND t.receiver = #{receiver}
			</if>
			<if test="logisticsCompany != null and logisticsCompany != '' ">
				AND t.logistics_company = #{logisticsCompany}
			</if>
			<if test="logisticsNumber != null and logisticsNumber != '' ">
				AND t.logistics_number = #{logisticsNumber}
			</if>
			
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				<![CDATA[AND t.apply_datetime >= #{applyDatetimeStart}]]>
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				<![CDATA[AND t.apply_datetime <= #{applyDatetimeEnd}]]>
			</if>
			
			<if test="deliverDatetimeStart != null and deliverDatetimeStart != '' ">
				<![CDATA[AND t.deliver_datetime >= #{deliverDatetimeStart}]]>
			</if>
			<if test="deliverDatetimeEnd != null and deliverDatetimeEnd != '' ">
				<![CDATA[AND t.deliver_datetime <= #{deliverDatetimeEnd}]]>
			</if>
			
		</trim>
	</sql>
	
	<select id="select_commodity_order" parameterType="commodityOrder" resultMap="commodityOrder_DB_Result">
		SELECT
		t.code
		,shop_code
		,t.amount
		,t.quantity
		,t.apply_user
		,t.apply_datetime
		
		,t.apply_note
		,t.express_type
		,t.pay_type
		,t.pay_group
		,t.pay_code
		
		,t.pay_datetime
		,t.pay_amount
		,t.cny_deduct_amount
		,t.jf_deduct_amount
		,t.back_jf_amount
		
		,t.address_code
		,t.logistics_company
		,t.logistics_number
		,t.deliver
		,t.deliver_datetime
		
		,t.receiver
		,t.receiver_mobile
		,t.receiver_datetime
		,t.status
		,t.settle_status
		
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tsc_commodity_order t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_commodity_order_count" parameterType="commodityOrder"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsc_commodity_order t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_commodity_order" parameterType="commodityOrder">
		INSERT INTO tsc_commodity_order(
		code
		,shop_code
		,apply_user
		,apply_datetime
		,apply_note
		,express_type
		,pay_group
		
		,address_code
		,status
		,settle_status
		,updater
		,update_datetime
		,remark
		)
		VALUES
		(
		#{code}
		,#{shopCode}
		,#{applyUser}
		,#{applyDatetime}
		,#{applyNote}
		,#{expressType}
		,#{payGroup}
		
		,#{addressCode}
		,#{status}
		,#{settleStatus}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>
	
	<update id="update_pay" parameterType="commodityOrder">
		UPDATE tsc_commodity_order
		SET
		pay_type=#{payType}
		,pay_group=#{payGroup}
		,pay_code=#{payCode}
		,pay_datetime=#{payDatetime}
		,pay_amount=#{payAmount}
		
		,status=#{status}
		,settle_status=#{settleStatus}
		,update_datetime=#{updateDatetime}
		WHERE
		code=#{code}
	</update>
	
	<update id="update_cancel" parameterType="commodityOrder">
		UPDATE tsc_commodity_order
		SET
		status=#{status}
		,updater=#{updater}
		,update_datetime=#{updateDatetime}
		,remark=#{remark}
		WHERE
		code=#{code}
	</update>
	
	<update id="update_amount" parameterType="commodityOrder">
		UPDATE tsc_commodity_order
		SET
		quantity=#{quantity}
		,amount=#{amount}
		,pay_amount=#{payAmount}
		WHERE
		code=#{code}
	</update>
	
	<update id="update_address" parameterType="commodityOrder">
		UPDATE tsc_commodity_order
		SET
		address_code=#{addressCode}
		WHERE
		code=#{code}
	</update>
	
	<update id="update_delive" parameterType="commodityOrder">
		UPDATE tsc_commodity_order
		SET
		logistics_company=#{logisticsCompany}
		,logistics_number=#{logisticsNumber}
		,deliver=#{deliver}
		,deliver_datetime=#{deliverDatetime}
		,receiver=#{receiver}
		,receiver_mobile=#{receiverMobile}
		,status=#{status}
		,update_datetime=#{updateDatetime}
		WHERE
		code=#{code}
	</update>
	
	<update id="update_receive" parameterType="commodityOrder">
		UPDATE tsc_commodity_order
		SET
		receiver_datetime=#{receiverDatetime}
		,status=#{status}
		,update_datetime=#{updateDatetime}
		WHERE
		code=#{code}
	</update>
	
	<update id="update_comment" parameterType="commodityOrder">
		UPDATE tsc_commodity_order
		SET
		status=#{status}
		,update_datetime=#{updateDatetime}
		WHERE
		code = #{code}
		AND NOT EXISTS (SELECT 1 from tsc_commodity_order_detail WHERE order_code = tsc_commodity_order.code and tsc_commodity_order_detail.status != 0)
	</update>
	
	<update id="update_settle" parameterType="commodityOrder">
		UPDATE tsc_commodity_order
		SET
		settle_status=#{settleStatus}
		,update_datetime=#{updateDatetime}
		WHERE
		code=#{code}
	</update>
</mapper>