<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.ICommodityDAO">
	<resultMap id="commodity_DB_Result" type="commodity">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="parent_category_code" property="parentCategoryCode" />
		<result column="category_code" property="categoryCode" />
		<result column="deliver_place" property="deliverPlace" />
		
		<result column="weight" property="weight" />
		<result column="original_price" property="originalPrice" />
		<result column="original_place" property="originalPlace" />
		<result column="logistics" property="logistics" />
		<result column="month_sell_count" property="monthSellCount" />
		<result column="list_pic" property="listPic" />
		<result column="banner_pic" property="bannerPic" />
		
		<result column="description" property="description" />
		<result column="shop_code" property="shopCode" />
		<result column="sell_user_id" property="sellUserId" />
		<result column="max_jfdk_rate" property="maxJfdkRate" />
		<result column="single_postage_count" property="singlePostageCount" />
		
		<result column="location" property="location" />
		<result column="order_no" property="orderNo" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="codeList != null and codeList != '' ">
				AND t.code in 
                <foreach item="item" index="index" collection="codeList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
			
			<if test="parentCategoryCode != null and parentCategoryCode != '' ">
				AND t.parent_category_code = #{parentCategoryCode}
			</if>
			<if test="categoryCode != null and categoryCode != '' ">
				AND t.category_code = #{categoryCode}
			</if>
			<if test="deliverPlace != null and deliverPlace != '' ">
				AND t.deliver_place = #{deliverPlace}
			</if>
			<if test="logistics != null and logistics != '' ">
				AND t.logistics = #{logistics}
			</if>
			<if test="shopCode != null and shopCode != '' ">
				AND t.shop_code = #{shopCode}
			</if>
			<if test="originalPlace != null and originalPlace != '' ">
				AND t.original_place = #{originalPlace}
			</if>
			<if test="sellUserId != null and sellUserId != '' ">
				AND t.sell_user_id = #{sellUserId}
			</if>
			<if test="location != null and location != '' ">
				AND t.location = #{location}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
			
			<if test="minSpecPrice != null and minSpecPrice != '' and maxSpecPrice != null and maxSpecPrice != '' ">
				<![CDATA[and t.code in (select distinct commodity_code from tsc_commodity_specs where price > #{minSpecPrice} and price < #{maxSpecPrice})]]>
			</if>
			<if test="minSpecPrice != null and minSpecPrice != '' and maxSpecPrice == null  ">
				<![CDATA[and t.code in (select distinct commodity_code from tsc_commodity_specs where price > #{minSpecPrice})]]>
			</if>
			<if test="maxSpecPrice != null and maxSpecPrice != '' and minSpecPrice == null">
				<![CDATA[and t.code in (select distinct commodity_code from tsc_commodity_specs where price < #{maxSpecPrice})]]>
			</if>
			
		</trim>
	</sql>
	
	<select id="select_commodity" parameterType="commodity" resultMap="commodity_DB_Result">
		SELECT
		t.code
		,t.name
		,t.parent_category_code
		,t.category_code
		,t.deliver_place
		
		,t.weight
		,t.original_price
		,t.original_place
		,t.logistics
		,t.month_sell_count
		,t.list_pic
		,t.banner_pic
		
		,t.description
		,t.shop_code
		,t.sell_user_id
		,t.max_jfdk_rate
		,t.single_postage_count
		
		,t.location
		,t.order_no
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tsc_commodity t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_distinctOriginalPlace" parameterType="commodity" resultMap="commodity_DB_Result">
		select distinct original_place from tsc_commodity
	</select>
	
	<select id="select_distinctDeliverPlace" parameterType="commodity" resultMap="commodity_DB_Result">
		select distinct deliver_place from tsc_commodity
	</select>
	
	<select id="select_distinctDeliverPlaceByShop" parameterType="commodity" resultMap="commodity_DB_Result">
		SELECT
		DISTINCT
		t.shop_code
		,t.deliver_place
		FROM
		tsc_commodity t
		<include refid="where_condition" />
	</select>

	<select id="select_commodity_count" parameterType="commodity"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsc_commodity t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_commodity" parameterType="commodity">
		INSERT INTO
		tsc_commodity(
		code
		,name
		,parent_category_code
		,category_code
		,deliver_place
		
		,weight
		,original_price
		,original_place
		,logistics
		,month_sell_count
		,list_pic
		,banner_pic
		,description
		
		,shop_code
		,sell_user_id
		,max_jfdk_rate
		,single_postage_count
		,status
		)
		VALUES(
		#{code}
		,#{name}
		,#{parentCategoryCode}
		,#{categoryCode}
		,#{deliverPlace}
		
		,#{weight}
		,#{originalPrice}
		,#{originalPlace}
		,#{logistics}
		,#{monthSellCount}
		,#{listPic}
		,#{bannerPic}
		,#{description}
		
		,#{shopCode}
		,#{sellUserId}
		,#{maxJfdkRate}
		,#{singlePostageCount}
		,#{status}
		)
	</insert>
	
	<update id="update_commodity" parameterType="commodity">
		UPDATE tsc_commodity
		SET
		name=#{name}
		,parent_category_code=#{parentCategoryCode}
		,category_code=#{categoryCode}
		,deliver_place=#{deliverPlace}
		,weight=#{weight}
		
		,original_price=#{originalPrice}
		,original_place=#{originalPlace}
		,logistics=#{logistics}
		,list_pic=#{listPic}
		,banner_pic=#{bannerPic}
		,description=#{description}
		
		,shop_code=#{shopCode}
		,sell_user_id=#{sellUserId}
		,max_jfdk_rate=#{maxJfdkRate}
		,status=#{status}
		,updater=#{updater}
		,update_datetime=#{updateDatetime}
		
		,remark=#{remark}
		WHERE
		code=#{code}
	</update>
	
	<update id="update_status" parameterType="commodity">
		UPDATE tsc_commodity
		SET
		status=#{status}
		,updater=#{updater}
		,update_datetime=#{updateDatetime}
		,remark=#{remark}
		WHERE
		code=#{code}
	</update>
	
	<update id="update_on" parameterType="commodity">
		UPDATE tsc_commodity
		SET
		status=#{status}
		,location=#{location}
		,month_sell_count=#{monthSellCount}
		,order_no=#{orderNo}
		,updater=#{updater}
		,update_datetime=#{updateDatetime}
		,remark=#{remark}
		WHERE
		code=#{code}
	</update>
	
	<update id="update_month_sell_count" parameterType="commodity">
		UPDATE tsc_commodity
		SET
		month_sell_count=#{monthSellCount}
		WHERE
		code=#{code}
	</update>

</mapper>