<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.ICommentDAO">
	<resultMap id="comment_DB_Result" type="comment">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="content" property="content" />
		<result column="user_id" property="userId" />
		<result column="comment_datetime" property="commentDatetime" />
		
		<result column="point_count" property="pointCount" />
		<result column="parent_code" property="parentCode" />
		<result column="parent_user_id" property="parentUserId" />
		<result column="object_code" property="objectCode" />
		<result column="status" property="status" />
		
		<result column="approver" property="approver" />
		<result column="approve_datetime" property="approveDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="parentCode != null and parentCode != '' ">
				AND t.parent_code = #{parentCode}
			</if>
			<if test="parentUserId != null and parentUserId != '' ">
				AND t.parent_user_id = #{parentUserId}
			</if>
			<if test="objectCode != null and objectCode != '' ">
				AND t.object_code = #{objectCode}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="content != null and content != '' ">
				AND t.content like "%"#{content}#"%"
			</if>
			
			<if test="commentDateStart != null and commentDateStart != '' ">
				<![CDATA[AND t.comment_datetime >= #{commentDateStart}]]>
			</if>
			<if test="commentDateEnd != null and commentDateEnd != '' ">
				<![CDATA[AND t.comment_datetime < #{commentDateEnd}]]>
			</if>
		</trim>
	</sql>
	
	<select id="select_comment" parameterType="comment" resultMap="comment_DB_Result">
		SELECT
		t.code
		,t.type
		,t.content
		,t.user_id
		,t.comment_datetime
		
		,t.point_count
		,t.parent_code
		,t.parent_user_id
		,t.object_code
		,t.status
		
		,t.approver
		,t.approve_datetime
		,t.remark
		FROM
		tforum_comment t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_comment_count" parameterType="comment"
		resultType="java.lang.Long">
		SELECT count(1) FROM tforum_comment t
		<include refid="where_condition" />
	</select>

	<insert id="insert_comment" parameterType="comment">
		INSERT INTO
		tforum_comment(
		code
		,type
		,content
		,user_id
		,comment_datetime
		
		,point_count
		,parent_code
		,parent_user_id
		,object_code
		,status
		,remark
		)
		VALUES(
		#{code}
		,#{type}
		,#{content}
		,#{userId}
		,#{commentDatetime}
		
		,#{pointCount}
		,#{parentCode}
		,#{parentUserId}
		,#{objectCode}
		,#{status}
		,#{remark}
		)
	</insert>

	<update id="update_approveComment" parameterType="comment">
		UPDATE tforum_comment
		SET
		status = #{status}
		,approver = #{approver}
		,approve_datetime = #{approveDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_pointCount" parameterType="comment">
		UPDATE tforum_comment
		SET
		point_count = #{pointCount}
		WHERE code = #{code}
	</update>
	
	<update id="update_deleteComment" parameterType="comment">
		UPDATE tforum_comment
		SET
		status = #{status}
		WHERE code = #{code}
	</update>
</mapper>