<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IDayBenefitDAO">
	<resultMap id="dayBenefit_DB_Result" type="dayBenefit">
		<result column="group_code" property="groupCode" />
		<result column="yesterday_assets" property="yesterdayAssets" />
		<result column="today_assets" property="todayAssets" />
		<result column="benefit" property="benefit" />
		<result column="benefit_rate" property="benefitRate" />
		
		<result column="createDatetime" property="createDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="groupCode != null and groupCode != '' ">
				AND t.group_code = #{code}
			</if>
			<if test="code != null and groupCode != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	<select id="select_dayBenefit" parameterType="dayBenefit" resultMap="dayBenefit_DB_Result">
		SELECT
		t.group_code
		,t.yesterday_assets
		,t.today_assets
		,t.benefit
		,t.benefit_rate
		
		,t.createDatetime
		FROM
		tsimu_day_benefit t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_dayBenefit_count" parameterType="dayBenefit"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsimu_day_benefit t
		<include refid="where_condition" />
	</select>

	<insert id="insert_dayBenefit" parameterType="dayBenefit">
		INSERT INTO
		tsimu_day_benefit(
		group_code
		,yesterday_assets
		,today_assets
		,benefit
		,benefit_rate
		
		,createDatetime
		)
		VALUES(
		#{groupCode}
		,#{yesterdayAssets}
		,#{todayAssets}
		,#{benefit}
		,#{benefitRate}
		
		,#{createDatetime}
		)
	</insert>


</mapper>