<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IDepositDAO">
	<resultMap type="deposit" id="deposit_DB_Result">
		<result column="code" property="code"/>
		<result column="currency" property="currency"/>
		<result column="from_address" property="fromAddress"/>
		<result column="to_address" property="toAddress"/>
		<result column="amount" property="amount"/>
		<result column="tx_hash" property="txHash"/>
		<result column="tx_fee" property="txFee"/>
		<result column="confirm_datetime" property="confirmDatetime"/>
		<result column="create_datetime" property="createDatetime"/>
		<result column="ref_no" property="refNo"/>
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="codeForQuery != null and codeForQuery != '' ">
				AND t.code like "%"#{codeForQuery}"%"
			</if>
			<if test="txHash != null and txHash != '' ">
				AND t.tx_hash = #{txHash}
			</if>
			<if test="fromAddress != null and fromAddress != '' ">
				AND t.from_address = #{fromAddress}
			</if>
			<if test="toAddress != null and toAddress != '' ">
				AND t.to_address = #{toAddress}
			</if>
			<if test="refNo != null and refNo != '' ">
				AND t.ref_no = #{refNo}
			</if>
		</trim>
	</sql>
	<select id="select_deposit" parameterType="deposit" resultMap="deposit_DB_Result">
		SELECT
		t.code
		,t.currency
		,t.from_address
		,t.to_address
		,t.amount
		,t.tx_hash
		,t.tx_fee
		,t.confirm_datetime
		,t.create_datetime
		,t.ref_no
		FROM
		tstd_deposit t
		<include refid="where_condition"/>
		<trim prefix="ORDER BY">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	<select id="select_deposit_count" parameterType="deposit"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_deposit t
		<include refid="where_condition" />
	</select>
</mapper>