<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IDivideDetailDAO">
	<resultMap id="divideDetail_DB_Result" type="divideDetail">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="currency" property="currency" />
		<result column="amount" property="amount" />
		<result column="divide_amount" property="divideAmount" />
		
		<result column="create_datetime" property="createDatetime" />
		<result column="divide_datetime" property="divideDatetime" />
		<result column="divide_id" property="divideId" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	<select id="select_divideDetail" parameterType="divideDetail" resultMap="divideDetail_DB_Result">
		SELECT
		t.id
		,t.user_id
		,t.currency
		,t.amount
		,t.divide_amount
		
		,t.create_datetime
		,t.divide_datetime
		,t.divide_id
		FROM
		tstd_divide_detail t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_divideDetail_count" parameterType="divideDetail"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_divide_detail t
		<include refid="where_condition" />
	</select>

	<insert id="insert_divideDetail" parameterType="divideDetail">
		INSERT INTO
		tstd_divide_detail(
		id
		,user_id
		,currency
		,amount
		,divide_amount
		
		,create_datetime
		,divide_datetime
		,divide_id
		)
		VALUES(
		#{id}
		,#{userId}
		,#{currency}
		,#{amount}
		,#{divideAmount}
		
		,#{createDatetime}
		,#{divideDatetime}
		,#{divideId}
		)
	</insert>

	<update id="update_divideDetail" parameterType="divideDetail">
		UPDATE tstd_divide_detail
		SET
		divide_amount = #{divideAmount}
		,divide_datetime = #{divideDatetime}
		WHERE id = #{id}
	</update>


</mapper>