<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IDivideDAO">
	<resultMap id="divide_DB_Result" type="divide">
		<result column="id" property="id" />
		<result column="divide_profit" property="divideProfit" />
		<result column="divide_amount" property="divideAmount" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
		
		<result column="divide_datetime" property="divideDatetime" />
		<result column="divide_user" property="divideUser" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeEnd}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	<select id="select_divide" parameterType="divide" resultMap="divide_DB_Result">
		SELECT
		t.id
		,t.divide_profit
		,t.divide_amount
		,t.status
		,t.create_datetime
		
		,t.divide_datetime
		,t.divide_user
		,t.remark
		FROM
		tstd_divide t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_divide_count" parameterType="divide"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_divide t
		<include refid="where_condition" />
	</select>

	<insert id="insert_divide" useGeneratedKeys="true" keyProperty="id" parameterType="divide">
		INSERT INTO
		tstd_divide(
		id
		,divide_profit
		,divide_amount
		,status
		,create_datetime
		,divide_datetime
		,divide_user
		,remark
		)
		VALUES(
		#{id}
		,#{divideProfit}
		,#{divideAmount}
		,#{status}
		,#{createDatetime}
		,#{divideDatetime}
		,#{divideUser}
		,#{remark}
		)
	</insert>

	<update id="update_divide" parameterType="divide">
		UPDATE tstd_divide
		SET
		divide_profit = #{divideProfit}
		,divide_amount = #{divideAmount}
		,status = #{status}
		,divide_datetime = #{divideDatetime}
		,divide_user = #{divideUser}
		,remark = #{remark}
		WHERE id = #{id}
	</update>


</mapper>