<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IEthMAddressDAO">
	<resultMap id="ethMAddress_DB_Result" type="ethMAddress">
		<result column="id" property="id" />
		<result column="address" property="address" />
		<result column="keystore_pwd" property="password" />
		<result column="keystore_name" property="keystoreName" />
		<result column="keystore_content" property="keystoreContent" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
		<result column="abandon_datetime" property="abandonDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="address != null and address != '' ">
				AND t.address = #{address}
			</if>
			<if test="addressForQuery != null and addressForQuery != '' ">
				AND t.address like "%"#{addressForQuery}"%"
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="statusList != null and statusList != ''">
                AND `status` in
                <foreach item="item" index="index" collection="statusList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
		</trim>
	</sql>
	<select id="select_ethMAddress" parameterType="ethMAddress" resultMap="ethMAddress_DB_Result">
		SELECT
		t.id
		,t.address
		,t.status
		,t.create_datetime
		,t.abandon_datetime
		FROM
		tcoin_eth_maddress t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_ethMAddress_secret" parameterType="ethMAddress" resultMap="ethMAddress_DB_Result">
		SELECT
		t.id
		,t.address
		,t.keystore_pwd
		,t.keystore_name
		,t.keystore_content
		,t.status
		,t.create_datetime
		,t.abandon_datetime
		FROM
		tcoin_eth_maddress t
		<include refid="where_condition" />
	</select>

	<select id="select_ethMAddress_count" parameterType="ethMAddress"
		resultType="java.lang.Long">
		SELECT count(1) FROM tcoin_eth_maddress t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_ethMAddress" parameterType="ethMAddress">
		INSERT INTO
		tcoin_eth_maddress(
		
		address
		,keystore_pwd
		,keystore_name
		,keystore_content
		,status
		,create_datetime
		
		)
		VALUES(
		
		#{address}
		,#{keystorePwd}
		,#{keystoreName}
		,#{keystoreContent}
		,#{status}
		,#{createDatetime}
		
		)
	</insert>
	
	<update id="update_status" parameterType="ethMAddress">
		UPDATE tcoin_eth_maddress
		SET
		status = #{status}
		WHERE id = #{id}
	</update>
	
	 <update id="update_abandon" parameterType="ethMAddress">
		UPDATE tcoin_eth_maddress
		SET
		status = #{status}
		,abandon_datetime = #{abandonDatetime}
		WHERE id = #{id}
	</update>


</mapper>