<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IEthTransactionDAO">
	<resultMap id="ethTransaction_DB_Result" type="ethTransaction">
		<result column="id" property="id" />
		<result column="hash" property="hash" />
		<result column="nonce" property="nonce" />
		<result column="block_hash" property="blockHash" />
		<result column="block_number" property="blockNumber" />
		<result column="block_create_datetime" property="blockCreateDatetime" />
		<result column="transaction_index" property="transactionIndex" />
		<result column="from" property="from" />
		<result column="to" property="to" />
		<result column="value" property="value" />
		<result column="sync_datetime" property="syncDatetime" />
		<result column="gas_price" property="gasPrice" />
		<result column="gas_limit" property="gasLimit" />
		<result column="gas_used" property="gasUsed" />
		<result column="gas_fee" property="gasFee" />
		<result column="input" property="input" />
		<result column="public_key" property="publicKey" />
		<result column="raw" property="raw" />
		<result column="r" property="r" />
		<result column="s" property="s" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="hash != null and hash != '' ">
				AND t.hash = #{hash}
			</if>
			<if test="blockHash != null and blockHash != '' ">
				AND t.block_hash = #{blockHash}
			</if>
			<if test="blockNumber != null and blockNumber != '' ">
				AND t.block_number = #{blockNumber}
			</if>
			<if test="from != null and from != '' ">
				AND t.from = #{from}
			</if>
			<if test="to != null and to != '' ">
				AND t.to = #{to}
			</if>
		</trim>
	</sql>
	<select id="select_ethTransaction" parameterType="ethTransaction" resultMap="ethTransaction_DB_Result">
		SELECT
		t.id
		,t.hash
		,t.nonce
		,t.block_hash
		,t.block_number
		,t.block_create_datetime
		,t.transaction_index
		,t.from
		,t.to
		,t.value
		,t.sync_datetime
		,t.gas_price
		,t.gas_limit
		,t.gas_used
		,t.gas_fee
		,t.input
		,t.public_key
		,t.raw
		,t.r
		,t.s
		FROM
		tcoin_eth_transaction t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_ethTransaction_count" parameterType="ethTransaction"
		resultType="java.lang.Long">
		SELECT count(1) FROM tcoin_eth_transaction t
		<include refid="where_condition" />
	</select>

	<insert id="insert_ethTransaction" parameterType="ethTransaction">
		INSERT INTO
		tcoin_eth_transaction(
		hash
		,nonce
		,block_hash
		,block_number
		,block_create_datetime
		
		,transaction_index
		,`from`
		,`to`
		,value
		,sync_datetime
		
		,gas_price
		,gas_limit
		,gas_used
		,gas_fee
		,input
		
		,public_key
		,raw
		,r
		,s
		)
		VALUES(
		#{hash}
		,#{nonce}
		,#{blockHash}
		,#{blockNumber}
		,#{blockCreateDatetime}
		
		,#{transactionIndex}
		,#{from}
		,#{to}
		,#{value}
		,#{syncDatetime}
		
		,#{gasPrice}
		,#{gasLimit}
		,#{gasUsed}
		,#{gasFee}
		,#{input}
		
		,#{publicKey}
		,#{raw}
		,#{r}
		,#{s}
		)
	</insert>



</mapper>