<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IEthAddressDAO">
	<resultMap id="ethXAddress_DB_Result" type="ethXAddress">
		<result column="id" property="id" />
		<result column="address" property="address" />
		<result column="keystore_name" property="keystoreName" />
		<result column="keystore_content" property="keystoreContent" />
		<result column="keystore_pwd" property="password" />
		<result column="user_id" property="userId" />
		<result column="create_datetime" property="createDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="address != null and address != '' ">
				AND t.address = #{address}
			</if>
			<if test="addressForQuery != null and addressForQuery != '' ">
				AND t.address like "%"#{addressForQuery}"%"
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
		</trim>
	</sql>
	<select id="select_ethXAddress" parameterType="ethXAddress" resultMap="ethXAddress_DB_Result">
		SELECT
		t.id
		,t.address
		,t.user_id
		,t.create_datetime
		FROM
		tcoin_eth_xaddress t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_ethXAddress_secret" parameterType="ethXAddress" resultMap="secret_DB_Result">
		SELECT
		t.id
		,t.address
		,t.keystore_pwd
		,t.keystore_name
		,t.keystore_content
		,t.user_id
		,t.create_datetime
		FROM
		tcoin_eth_xaddress t
		<include refid="where_condition" />
	</select>

	<select id="select_ethXAddress_count" parameterType="ethXAddress"
		resultType="java.lang.Long">
		SELECT count(1) FROM tcoin_eth_xaddress t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_ethXAddress" parameterType="ethXAddress">
		INSERT INTO
		tcoin_eth_xaddress(
		
		address
		,keystore_pwd
		,keystore_name
		,keystore_content
		,user_id
		,create_datetime
		
		)
		VALUES(
		
		#{address}
		,#{keystorePwd}
		,#{keystoreName}
		,#{keystoreContent}
		,#{userId}
		,#{createDatetime}
		
		)
	</insert>


</mapper>