<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IGiftOrderDAO">
	<resultMap id="giftOrder_DB_Result" type="giftOrder">
		<result column="code" property="code" />
		<result column="adopt_tree_code" property="adoptTreeCode" />
		<result column="name" property="name" />
		<result column="price" property="price" />
		<result column="list_pic" property="listPic" />
		<result column="description" property="description" />
		
		<result column="receiver" property="receiver" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="area" property="area" />
		<result column="re_address" property="reAddress" />
		
		<result column="re_mobile" property="reMobile" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
		<result column="claimer" property="claimer" />
		<result column="claim_datetime" property="claimDatetime" />
		<result column="invalid_datetime" property="invalidDatetime" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="adoptTreeCode != null and adoptTreeCode != '' ">
				AND t.adopt_tree_code = #{adoptTreeCode}
			</if>
			<if test="receiver != null and receiver != '' ">
				AND t.receiver = #{receiver}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="claimer != null and claimer != '' ">
				AND t.claimer = #{claimer}
			</if>
			
			<if test="invalidStartDatetime != null and invalidStartDatetime != '' ">
				<![CDATA[AND t.invalid_datetime >= #{invalidStartDatetime}]]>
			</if>
			<if test="invalidEndDatetime != null and invalidEndDatetime != '' ">
				<![CDATA[AND t.invalid_datetime <= #{invalidEndDatetime}]]>
			</if>
		</trim>
	</sql>
	
	<select id="select_giftOrder" parameterType="giftOrder" resultMap="giftOrder_DB_Result">
		SELECT
		t.code
		,t.adopt_tree_code
		,t.name
		,t.price
		,t.list_pic
		,t.description
		
		,t.receiver
		,t.province
		,t.city
		,t.area
		,t.re_address
		
		,t.re_mobile
		,t.status
		,t.create_datetime
		,t.claimer
		,t.claim_datetime
		
		,t.invalid_datetime
		FROM
		tsj_gift_order t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_giftOrder_count" parameterType="giftOrder"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsj_gift_order t
		<include refid="where_condition" />
	</select>

	<insert id="insert_giftOrder" parameterType="giftOrder">
		INSERT INTO
		tsj_gift_order(
		code
		,adopt_tree_code
		,name
		,price
		,list_pic
		,description
		
		,receiver
		,re_address
		,re_mobile
		,status
		,create_datetime
		
		,claimer
		,claim_datetime
		,invalid_datetime
		)
		VALUES(
		#{code}
		,#{adoptTreeCode}
		,#{name}
		,#{price}
		,#{listPic}
		,#{description}
		
		,#{receiver}
		,#{reAddress}
		,#{reMobile}
		,#{status}
		,#{createDatetime}
		
		,#{claimer}
		,#{claimDatetime}
		,#{invalidDatetime}
		)
	</insert>

	<update id="update_giftOrder" parameterType="giftOrder">
		UPDATE tsj_gift_order
		SET
		adopt_tree_code = #{adoptTreeCode}
		,name = #{name}
		,price = #{price}
		,list_pic = #{listPic}
		,description = #{description}
		,receiver = #{receiver}
		,province = #{province}
		,city = #{city}
		,area = #{area}
		,re_address = #{reAddress}
		,re_mobile = #{reMobile}
		,status = #{status}
		,create_datetime = #{createDatetime}
		,claimer = #{claimer}
		,claim_datetime = #{claimDatetime}
		,invalid_datetime = #{invalidDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_expireGiftOrder" parameterType="giftOrder">
		UPDATE tsj_gift_order
		SET
		status = #{status}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_giftOrder" parameterType="giftOrder">  
        DELETE FROM tsj_gift_order WHERE code = #{code}
	</delete>

</mapper>