<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IGiveCarbonBubbleRecordDAO">
	<resultMap id="giveCarbonBubbleRecord_DB_Result" type="giveCarbonBubbleRecord">
		<result column="code" property="code" />
		<result column="quantity" property="quantity" />
		<result column="user_id" property="userId" />
		<result column="to_user_id" property="toUserId" />
		<result column="create_datetime" property="createDatetime" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="toUserId != null and toUserId != '' ">
				AND t.to_user_id = #{toUserId}
			</if>
		</trim>
	</sql>
	
	<select id="select_giveCarbonBubbleRecord" parameterType="giveCarbonBubbleRecord" resultMap="giveCarbonBubbleRecord_DB_Result">
		SELECT
		t.code
		,t.quantity
		,t.user_id
		,t.to_user_id
		,t.create_datetime
		FROM
		tsj_give_carbon_bubble_record t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_giveCarbonBubbleRecord_count" parameterType="giveCarbonBubbleRecord"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsj_give_carbon_bubble_record t
		<include refid="where_condition" />
	</select>

	<insert id="insert_giveCarbonBubbleRecord" parameterType="giveCarbonBubbleRecord">
		INSERT INTO
		tsj_give_carbon_bubble_record(
		code
		,quantity
		,user_id
		,to_user_id
		,create_datetime
		)
		VALUES(
		#{code}
		,#{quantity}
		,#{userId}
		,#{toUserId}
		,#{createDatetime}
		)
	</insert>

</mapper>