<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IGroupDAO">
	<resultMap id="group_DB_Result" type="group">
		<result column="code" property="code" />
		<result column="match_code" property="matchCode" />
		<result column="team_code" property="teamCode" />
		<result column="user_id" property="userId" />
		<result column="symbol" property="symbol" />
		
		<result column="init_amount" property="initAmount" />
		<result column="balance" property="balance" />
		<result column="total_assets" property="totalAssets" />
		<result column="total_benefit" property="totalBenefit" />
		<result column="day_benefit" property="dayBenefit" />
		
		<result column="week_benefit" property="weekBenefit" />
		<result column="month_benefit" property="monthBenefit" />
		<result column="order_no" property="orderNo" />
		<result column="follow_number" property="followNumber" />
		<result column="status" property="status" />
		
		<result column="create_datetime" property="createDatetime" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="matchCode != null and matchCode != '' ">
				AND t.match_code = #{matchCode}
			</if>
			<if test="teamCode != null and teamCode != '' ">
				AND t.team_code = #{teamCode}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	
	<select id="select_group" parameterType="group" resultMap="group_DB_Result">
		SELECT
		t.code
		,t.match_code
		,t.team_code
		,t.user_id
		,t.symbol
		
		,t.init_amount
		,t.balance
		,t.total_assets
		,t.total_benefit
		,t.day_benefit
		
		,t.week_benefit
		,t.month_benefit
		,t.order_no
		,t.follow_number
		,t.status
		
		,t.create_datetime
		FROM
		tsimu_group t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_group_count" parameterType="group"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsimu_group t
		<include refid="where_condition" />
	</select>

	<insert id="insert_group" parameterType="group">
		INSERT INTO
		tsimu_group(
		code
		,match_code
		,team_code
		,user_id
		,symbol
		
		,init_amount
		,balance
		,total_assets
		,total_benefit
		,day_benefit
		
		,week_benefit
		,month_benefit
		,order_no
		,follow_number
		,status
		
		,create_datetime
		)
		VALUES(
		#{code}
		,#{matchCode}
		,#{teamCode}
		,#{userId}
		,#{symbol}
		
		,#{initAmount}
		,#{balance}
		,#{totalAssets}
		,#{totalBenefit}
		,#{dayBenefit}
		
		,#{weekBenefit}
		,#{monthBenefit}
		,#{orderNo}
		,#{followNumber}
		,#{status}
		
		,#{createDatetime}
		)
	</insert>

	<update id="update_group" parameterType="group">
		UPDATE tsimu_group 
		SET
		follow_number = #{followNumber}
		
		WHERE code = #{code}
	</update>
	
</mapper>