<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IGroupCoinDAO">
	<resultMap id="groupCoin_DB_Result" type="groupCoin">
		<result column="account_number" property="accountNumber" />
		<result column="user_id" property="userId" />
		<result column="group_code" property="groupCode" />
		<result column="symbol" property="symbol" />
		<result column="count" property="count" />
		
		<result column="frozen_count" property="frozenCount" />
		<result column="assets" property="assets" />
		<result column="rate" property="rate" />
		<result column="last_order" property="lastOrder" />
		<result column="create_datetime" property="createDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="groupCode != null and groupCode != '' ">
				AND t.group_code = #{groupCode}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="symbol != null and symbol != '' ">
				AND t.symbol = #{symbol}
			</if>
		</trim>
	</sql>
	<select id="select_groupCoin" parameterType="groupCoin" resultMap="groupCoin_DB_Result">
		SELECT
		t.account_number
		,t.group_code
		,t.user_id
		,t.symbol
		,t.count
		
		,t.frozen_count
		,t.assets
		,t.rate
		,t.last_order
		,t.create_datetime
		FROM
		tsimu_group_coin t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_groupCoin_count" parameterType="groupCoin"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsimu_group_coin t
		<include refid="where_condition" />
	</select>

	<insert id="insert_groupCoin" parameterType="groupCoin">
		INSERT INTO
		tsimu_group_coin(
		account_number
		,group_code
		,user_id
		,symbol
		,count
		
		,frozen_count
		,assets
		,rate
		,last_order
		,create_datetime
		)
		VALUES(
		#{accountNumber}
		,#{groupCode}
		,#{userId}
		,#{symbol}
		,#{count}
		
		,#{frozenCount}
		,#{assets}
		,#{rate}
		,#{lastOrder}
		,#{createDatetime}
		)
	</insert>

	<update id="update_account_amount" parameterType="groupCoin">
		UPDATE
		tsimu_group_coin
		SET
		count= #{count}
		,last_order = #{lastOrder}
		WHERE
		account_number = #{accountNumber}
	</update>
	
	<update id="update_frozenAmount" parameterType="groupCoin">
		UPDATE tsimu_group_coin
		SET
		frozen_count = #{frozenCount}
		,last_order = #{lastOrder}
		WHERE
		account_number = #{accountNumber}
	</update>

	<update id="update_unfrozenAmount" parameterType="groupCoin">
		UPDATE tsimu_group_coin
		SET
		frozen_count = #{frozenCount}
		,last_order = #{lastOrder}
		WHERE
		account_number = #{accountNumber}
	</update>


</mapper>