<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IGroupOrderDAO">
	<resultMap id="groupOrder_DB_Result" type="groupOrder">
		<result column="code" property="code" />
		<result column="group_code" property="groupCode" />
		<result column="owner_id" property="ownerId" />
		<result column="product_code" property="productCode" />
		<result column="product_name" property="productName" />
		<result column="price" property="price" />
		
		<result column="quantity" property="quantity" />
		<result column="amount" property="amount" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="status" property="status" />
		
		<result column="pay_type" property="payType" />
		<result column="pay_group" property="payGroup" />
		<result column="pay_code" property="payCode" />
		<result column="cny_deduct_amount" property="cnyDeductAmount" />
		<result column="jf_deduct_amount" property="jfDeductAmount" />
		
		<result column="back_jf_amount" property="backJfAmount" />
		<result column="pay_amount" property="payAmount" />
		<result column="pay_datetime" property="payDatetime" />
		<result column="settle_status" property="settleStatus" />
		<result column="updater" property="updater" />
		
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="groupCode != null and groupCode != '' ">
				AND t.group_code = #{groupCode}
			</if>
			<if test="ownerId != null and ownerId != '' ">
				AND t.owner_id = #{ownerId}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND t.product_code = #{productCode}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="payGroup != null and payGroup != '' ">
				AND t.pay_group = #{payGroup}
			</if>
			<if test="payCode != null and payCode != '' ">
				AND t.pay_code = #{payCode}
			</if>
			<if test="settleStatus != null and settleStatus != '' ">
				AND t.settle_status = #{settleStatus}
			</if>
			
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				<![CDATA[AND t.apply_datetime >= #{applyDatetimeStart}]]>
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				<![CDATA[AND t.apply_datetime <= #{applyDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	
	<select id="select_groupOrder" parameterType="groupOrder" resultMap="groupOrder_DB_Result">
		SELECT
		t.code
		,t.group_code
		,t.owner_id
		,t.product_code
		,t.product_name
		,t.price
		
		,t.quantity
		,t.amount
		,t.apply_user
		,t.apply_datetime
		,t.status
		
		,t.pay_type
		,t.pay_group
		,t.pay_code
		,t.cny_deduct_amount
		,t.jf_deduct_amount
		
		,t.back_jf_amount
		,t.pay_amount
		,t.pay_datetime
		,t.settle_status
		,t.updater
		
		,t.update_datetime
		,t.remark
		FROM
		tys_group_order t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_groupOrder_count" parameterType="groupOrder"
		resultType="java.lang.Long">
		SELECT count(1) FROM tys_group_order t
		<include refid="where_condition" />
	</select>

	<insert id="insert_groupOrder" parameterType="groupOrder">
		INSERT INTO
		tys_group_order(
		code
		,group_code
		,owner_id
		,product_code
		,product_name
		,price
		
		,quantity
		,amount
		,apply_user
		,apply_datetime
		,status
		
		,cny_deduct_amount
		,jf_deduct_amount
		,back_jf_amount
		,updater
		
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{groupCode}
		,#{ownerId}
		,#{productCode}
		,#{productName}
		,#{price}
		
		,#{quantity}
		,#{amount}
		,#{applyUser}
		,#{applyDatetime}
		,#{status}
		
		,#{cnyDeductAmount}
		,#{jfDeductAmount}
		,#{backJfAmount}
		,#{updater}
		
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_CalcelPresellOrder" parameterType="groupOrder">
		UPDATE tys_group_order
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_payYueSuccess" parameterType="groupOrder">
		UPDATE tys_group_order
		SET
		status = #{status}
		,pay_type = #{payType}
		,cny_deduct_amount = #{cnyDeductAmount}
		,jf_deduct_amount = #{jfDeductAmount}
		,back_jf_amount = #{backJfAmount}
		
		,pay_amount = #{payAmount}
		,pay_datetime = #{payDatetime}
		,settle_status = #{settleStatus}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_payGroup" parameterType="groupOrder">
		UPDATE tys_group_order
		SET
		pay_type = #{payType}
		,pay_group = #{payGroup}
		,cny_deduct_amount = #{cnyDeductAmount}
		,jf_deduct_amount = #{jfDeductAmount}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_paySuccess" parameterType="groupOrder">
		UPDATE tys_group_order
		SET
		status = #{status}
		,pay_amount = #{payAmount}
		,pay_datetime = #{payDatetime}
		,settle_status = #{settleStatus}
		,back_jf_amount = #{backJfAmount}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

</mapper>