<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IGroupAdoptOrderDAO">
	<resultMap id="groupAdoptOrder_DB_Result" type="groupAdoptOrder">
		<result column="code" property="code" />
		<result column="identify_code" property="identifyCode" />
		<result column="product_code" property="productCode" />
		<result column="product_specs_code" property="productSpecsCode" />
		<result column="product_specs_name" property="productSpecsName" />
		<result column="price" property="price" />
		
		<result column="start_datetime" property="startDatetime" />
		<result column="end_datetime" property="endDatetime" />
		<result column="quantity" property="quantity" />
		<result column="amount" property="amount" />
		<result column="apply_user" property="applyUser" />
		
		<result column="apply_datetime" property="applyDatetime" />
		<result column="status" property="status" />
		<result column="pay_type" property="payType" />
		<result column="pay_group" property="payGroup" />
		<result column="pay_code" property="payCode" />
		
		<result column="pay_amount" property="payAmount" />
		<result column="jf_deduct_amount" property="jfDeductAmount" />
		<result column="cny_deduct_amount" property="cnyDeductAmount" />
		<result column="pay_datetime" property="payDatetime" />
		<result column="back_jf_amount" property="backJfAmount" />
		
		<result column="settle_status" property="settleStatus" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND t.product_code = #{productCode}
			</if>
			<if test="productSpecsCode != null and productSpecsCode != '' ">
				AND t.product_specs_code = #{productSpecsCode}
			</if>
			<if test="identifyCode != null and identifyCode != '' ">
				AND t.identify_code = #{identifyCode}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="payGroup != null and payGroup != '' ">
				AND t.pay_group = #{payGroup}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="settleStatus != null and settleStatus != '' ">
				AND t.settle_status = #{settleStatus}
			</if>
			<if test="statusList != null and statusList != '' ">
				AND t.status in 
                <foreach item="item" index="index" collection="statusList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
			
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				<![CDATA[AND t.apply_datetime >= #{applyDatetimeStart}]]>
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				<![CDATA[AND t.apply_datetime <= #{applyDatetimeEnd}]]>
			</if>
			<if test="startDatetimeStart != null and startDatetimeStart != '' ">
				<![CDATA[AND t.start_datetime >= #{startDatetimeStart}]]>
			</if>
			<if test="startDatetimeEnd != null and startDatetimeEnd != '' ">
				<![CDATA[AND t.start_datetime <= #{startDatetimeEnd}]]>
			</if>
			<if test="endDatetimeStart != null and endDatetimeStart != '' ">
				<![CDATA[AND t.end_datetime >= #{endDatetimeStart}]]>
			</if>
			<if test="endDatetimeEnd != null and endDatetimeEnd != '' ">
				<![CDATA[AND t.end_datetime <= #{endDatetimeEnd}]]>
			</if>
			
			<if test="existsSettle != null and existsSettle != '' and existsSettle == 1 ">
				AND EXISTS (SELECT 1 from tsys_settle where ref_code = t.code and ref_type = 4)
			</if>
		</trim>
	</sql>
	
	<select id="select_groupAdoptOrder" parameterType="groupAdoptOrder" resultMap="groupAdoptOrder_DB_Result">
		SELECT
		t.code
		,t.identify_code
		,t.product_code
		,t.product_specs_code
		,t.product_specs_name
		,t.price
		
		,t.start_datetime
		,t.end_datetime
		,t.quantity
		,t.amount
		,t.apply_user
		
		,t.apply_datetime
		,t.status
		,t.pay_type
		,t.pay_group
		,t.pay_code
		
		,t.pay_amount
		,t.jf_deduct_amount
		,t.cny_deduct_amount
		,t.pay_datetime
		,t.back_jf_amount
		
		,t.settle_status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		try_group_adopt_order t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_groupAdoptOrder_count" parameterType="groupAdoptOrder"
		resultType="java.lang.Long">
		SELECT count(1) FROM try_group_adopt_order t
		<include refid="where_condition" />
	</select>
	
	<select id="select_payedTotalQuantity" parameterType="groupAdoptOrder" resultType="java.lang.Long">
		SELECT 
		ifnull(sum(t.quantity),0) as quantity
		FROM try_group_adopt_order t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_firstGroupAdoptOrder" parameterType="groupAdoptOrder">
		INSERT INTO
		try_group_adopt_order(
		code
		,identify_code
		,product_code
		,product_specs_code
		,product_specs_name
		,price
		,start_datetime
		
		,end_datetime
		,quantity
		,amount
		,apply_user
		,apply_datetime
		
		,status
		,settle_status
		)
		VALUES(
		#{code}
		,#{identifyCode}
		,#{productCode}
		,#{productSpecsCode}
		,#{productSpecsName}
		,#{price}
		,#{startDatetime}
		
		,#{endDatetime}
		,#{quantity}
		,#{amount}
		,#{applyUser}
		,#{applyDatetime}
		
		,#{status}
		,#{settleStatus}
		)
	</insert>
	
	<insert id="insert_unFirstgroupAdoptOrder" parameterType="groupAdoptOrder">
		INSERT INTO
		try_group_adopt_order(
		code
		,identify_code
		,product_code
		,product_specs_code
		,price
		
		,start_datetime
		,end_datetime
		,quantity
		,amount
		,apply_user
		
		,apply_datetime
		,status
		,settle_status
		)
		VALUES(
		#{code}
		,#{identifyCode}
		,#{productCode}
		,#{productSpecsCode}
		,#{price}
		
		,#{startDatetime}
		,#{endDatetime}
		,#{quantity}
		,#{amount}
		,#{applyUser}
		
		,#{applyDatetime}
		,#{status}
		,#{settleStatus}
		)
	</insert>
	
	<update id="update_cancelGroupAdoptOrder" parameterType="groupAdoptOrder">
		UPDATE try_group_adopt_order
		SET
		status = #{status}
		,remark = #{remark}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_payYueSuccess" parameterType="groupAdoptOrder">
		UPDATE try_group_adopt_order
		SET
		status = #{status}
		,pay_type = #{payType}
		,pay_amount = #{payAmount}
		,jf_deduct_amount = #{jfDeductAmount}
		,cny_deduct_amount = #{cnyDeductAmount}
		
		,pay_datetime = #{payDatetime}
		,back_jf_amount = #{backJfAmount}
		,settle_status = #{settleStatus}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_payGroup" parameterType="groupAdoptOrder">
		UPDATE try_group_adopt_order
		SET
		pay_type = #{payType}
		,pay_group = #{payGroup}
		,cny_deduct_amount = #{cnyDeductAmount}
		,jf_deduct_amount = #{jfDeductAmount}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_paySuccess" parameterType="groupAdoptOrder">
		UPDATE try_group_adopt_order
		SET
		status = #{status}
		,pay_amount = #{payAmount}
		,pay_datetime = #{payDatetime}
		,back_jf_amount = #{backJfAmount}
		,settle_status = #{settleStatus}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_fullOrderById" parameterType="groupAdoptOrder">
		UPDATE try_group_adopt_order
		SET
		status = #{status}
		WHERE identify_code = #{identifyCode} and status = 2
	</update>
	
	<update id="update_fullOrder" parameterType="groupAdoptOrder">
		UPDATE try_group_adopt_order
		SET
		status = #{status}
		WHERE code = #{code}
	</update>
	
	<update id="update_unFullOrderById" parameterType="groupAdoptOrder">
		UPDATE try_group_adopt_order
		SET
		status = #{status}
		WHERE identify_code = #{identifyCode} and status = 2
	</update>
	
	<update id="update_unFullOrder" parameterType="groupAdoptOrder">
		UPDATE try_group_adopt_order
		SET
		status = #{status}
		WHERE code = #{code}
	</update>
	
	<update id="update_startAdopt" parameterType="groupAdoptOrder">
		UPDATE try_group_adopt_order
		SET
		status = #{status}
		,remark = #{remark}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_endAdopt" parameterType="groupAdoptOrder">
		UPDATE try_group_adopt_order
		SET
		status = #{status}
		,remark = #{remark}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_settleStatus" parameterType="groupAdoptOrder">
		UPDATE try_group_adopt_order
		SET
		settle_status = #{settleStatus}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
</mapper>