<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IGroupCoinJourDAO">
	<resultMap id="groupCoinJour_DB_Result" type="groupCoinJour">
		<result column="code" property="code" />
		<result column="ref_no" property="refNo" />
		<result column="account_number" property="accountNumber" />
		<result column="trans_amount" property="transAmount" />
		<result column="group_code" property="groupCode" />
		
		<result column="user_id" property="userId" />
		<result column="symbol" property="symbol" />
		<result column="biz_type" property="bizType" />
		<result column="biz_note" property="bizNote" />
		<result column="pre_amount" property="preAmount" />
		
		<result column="post_amount" property="postAmount" />
		<result column="create_datetime" property="createDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	
	<select id="select_groupCoinJour" parameterType="groupCoinJour" resultMap="groupCoinJour_DB_Result">
		SELECT
		t.code
		,t.ref_no
		,t.account_number
		,t.trans_amount
		,t.group_code
		
		,t.user_id
		,t.symbol
		,t.biz_type
		,t.biz_note
		,t.pre_amount
		
		,t.post_amount
		,t.create_datetime
		FROM
		tsimu_group_coin_jour t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_groupCoinJour_count" parameterType="groupCoinJour"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsimu_group_coin_jour t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_groupCoinJour" parameterType="groupCoinJour">
		INSERT INTO
		tsimu_group_coin_jour(
		code
		,ref_no
		,account_number
		,trans_amount
		,group_code
		
		,user_id
		,symbol
		,biz_type
		,biz_note
		,pre_amount
		
		,post_amount
		,create_datetime
		)
		VALUES(
		#{code}
		,#{refNo}
		,#{accountNumber}
		,#{transAmount}
		,#{groupCode}
		
		,#{userId}
		,#{symbol}
		,#{bizType}
		,#{bizNote}
		,#{preAmount}
		
		,#{postAmount}
		,#{createDatetime}
		)
	</insert>


</mapper>