<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IMatchDAO">
	<resultMap id="match_DB_Result" type="match">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="start_datetime" property="startDatetime" />
		<result column="end_datetime" property="endDatetime" />
		<result column="order_no" property="orderNo" />
		
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="name != null and name != '' ">
				AND t.name = #{name}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="startDatetimeStart != null and startDatetimeStart != '' ">
				<![CDATA[AND t.start_datetime >= #{startDatetimeStart}]]>
			</if>
			<if test="startDatetimeEnd != null and startDatetimeEnd != '' ">
				<![CDATA[AND t.start_datetime <= #{startDatetimeEnd}]]>
			</if>
			<if test="endDatetimeStart != null and endDatetimeStart != '' ">
				<![CDATA[AND t.end_datetime >= #{endDatetimeStart}]]>
			</if>
			<if test="endDatetimeEnd != null and endDatetimeEnd != '' ">
				<![CDATA[AND t.end_datetime <= #{endDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	
	<select id="select_match" parameterType="match" resultMap="match_DB_Result">
		SELECT
		t.code
		,t.name
		,t.start_datetime
		,t.end_datetime
		,t.order_no
		
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tforum_match t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_match_count" parameterType="match"
		resultType="java.lang.Long">
		SELECT count(1) FROM tforum_match t
		<include refid="where_condition" />
	</select>

	<insert id="insert_match" parameterType="match">
		INSERT INTO
		tforum_match(
		code
		,name
		,start_datetime
		,end_datetime
		,order_no
		
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{name}
		,#{startDatetime}
		,#{endDatetime}
		,#{orderNo}
		
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_match" parameterType="match">
		UPDATE tforum_match
		SET
		name = #{name}
		,start_datetime = #{startDatetime}
		,end_datetime = #{endDatetime}
		,order_no = #{orderNo}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_releaseMatch" parameterType="match">
		UPDATE tforum_match
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_startMatch" parameterType="match">
		UPDATE tforum_match
		SET
		status = #{status}
		WHERE code = #{code}
	</update>
	
	<update id="update_endMatch" parameterType="match">
		UPDATE tforum_match
		SET
		status = #{status}
		WHERE code = #{code}
	</update>

</mapper>