<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IMatchApplyDAO">
	<resultMap id="matchApply_DB_Result" type="matchApply">
		<result column="code" property="code" />
		<result column="match_code" property="matchCode" />
		<result column="team_name" property="teamName" />
		<result column="logo" property="logo" />
		<result column="description" property="description" />
		
		<result column="status" property="status" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="approver" property="approver" />
		<result column="approve_datetime" property="approveDatetime" />
		
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="matchCode != null and matchCode != '' ">
				AND t.match_code = #{matchCode}
			</if>
			<if test="teamName != null and teamName != '' ">
				AND t.team_name = #{teamName}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="approver != null and approver != '' ">
				AND t.approver = #{approver}
			</if>
			<choose>
				<when test="status != null and status != '' ">
					AND t.status = #{status}
				</when>
				<when test="statusList != null and statusList.size() > 0 ">
					AND t.status IN
					<foreach collection="statusList" item="item" index="index" open="(" separator="," close=")">
						#{item}
					</foreach>
				</when>
			</choose>
			
			<if test="applyStartDatetime != null and applyStartDatetime != '' ">
				<![CDATA[AND t.apply_datetime >= #{applyStartDatetime}]]>
			</if>
			<if test="applyEndDatetime != null and applyEndDatetime != '' ">
				<![CDATA[AND t.apply_datetime <= #{applyEndDatetime}]]>
			</if>
			<if test="approveStartDatetime != null and approveStartDatetime != '' ">
				<![CDATA[AND t.approve_datetime >= #{approveStartDatetime}]]>
			</if>
			<if test="approveEndDatetime != null and approveEndDatetime != '' ">
				<![CDATA[AND t.approve_datetime <= #{approveEndDatetime}]]>
			</if>
		</trim>
	</sql>
	
	<select id="select_matchApply" parameterType="matchApply" resultMap="matchApply_DB_Result">
		SELECT
		t.code
		,t.match_code
		,t.team_name
		,t.logo
		,t.description
		
		,t.status
		,t.apply_user
		,t.apply_datetime
		,t.approver
		,t.approve_datetime
		
		,t.remark
		FROM
		tforum_match_apply t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_matchApply_count" parameterType="matchApply"
		resultType="java.lang.Long">
		SELECT count(1) FROM tforum_match_apply t
		<include refid="where_condition" />
	</select>

	<insert id="insert_matchApply" parameterType="matchApply">
		INSERT INTO
		tforum_match_apply(
		code
		,match_code
		,team_name
		,logo
		,description
		
		,status
		,apply_user
		,apply_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{matchCode}
		,#{teamName}
		,#{logo}
		,#{description}
		
		,#{status}
		,#{applyUser}
		,#{applyDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_approveMatchApply" parameterType="matchApply">
		UPDATE tforum_match_apply
		SET
		status = #{status}
		,approver = #{approver}
		,approve_datetime = #{approveDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>