<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="sysMenu" type="com.ogc.standard.domain.SYSMenu" />
		<typeAlias alias="sysRole" type="com.ogc.standard.domain.SYSRole" />
		<typeAlias alias="sysMenuRole" type="com.ogc.standard.domain.SYSMenuRole" />
		<typeAlias alias="cNavigate" type="com.ogc.standard.domain.CNavigate" />
		<typeAlias alias="sysDict" type="com.ogc.standard.domain.SYSDict" />
		<typeAlias alias="sysConfig" type="com.ogc.standard.domain.SYSConfig" />
		<typeAlias alias="sysUser" type="com.ogc.standard.domain.SYSUser" />
		<typeAlias alias="channelBank" type="com.ogc.standard.domain.ChannelBank" />
		<typeAlias alias="company" type="com.ogc.standard.domain.Company" />
		<typeAlias alias="department" type="com.ogc.standard.domain.Department" />
		
		<typeAlias alias="match" type="com.ogc.standard.domain.Match" />
		<typeAlias alias="matchApply" type="com.ogc.standard.domain.MatchApply" />
		<typeAlias alias="team" type="com.ogc.standard.domain.Team" />
		<typeAlias alias="teamMemberApply" type="com.ogc.standard.domain.TeamMemberApply" />
	</typeAliases>
</configuration>
