<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="sysMenu" type="com.ogc.standard.domain.SYSMenu" />
		<typeAlias alias="sysRole" type="com.ogc.standard.domain.SYSRole" />
		<typeAlias alias="sysMenuRole" type="com.ogc.standard.domain.SYSMenuRole" />
	</typeAliases>
</configuration>


