<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="sysMenu" type="com.ogc.standard.domain.SYSMenu" />
		<typeAlias alias="sysRole" type="com.ogc.standard.domain.SYSRole" />
		<typeAlias alias="sysMenuRole" type="com.ogc.standard.domain.SYSMenuRole" />
		<typeAlias alias="cNavigate" type="com.ogc.standard.domain.CNavigate" />
		<typeAlias alias="sysDict" type="com.ogc.standard.domain.SYSDict" />
		<typeAlias alias="sysConfig" type="com.ogc.standard.domain.SYSConfig" />
		<typeAlias alias="sysUser" type="com.ogc.standard.domain.SYSUser" />
		<typeAlias alias="channelBank" type="com.ogc.standard.domain.ChannelBank" />
		<typeAlias alias="company" type="com.ogc.standard.domain.Company" />
		<typeAlias alias="department" type="com.ogc.standard.domain.Department" />
		<typeAlias alias="group" type="com.ogc.standard.domain.Group" />
		<typeAlias alias="groupCoin" type="com.ogc.standard.domain.GroupCoin" />
		<typeAlias alias="attention" type="com.ogc.standard.domain.Attention" />
		<typeAlias alias="dayBenefit" type="com.ogc.standard.domain.DayBenefit" />
		
	</typeAliases>
</configuration>


