<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IOriginalGroupDAO">
	<resultMap id="originalGroup_DB_Result" type="originalGroup">
		<result column="code" property="code" />
		<result column="belong_part_id" property="belongPartId" />
		<result column="order_code" property="orderCode" />
		<result column="product_code" property="productCode" />
		<result column="product_name" property="productName" />
		<result column="specs_code" property="specsCode" />
		<result column="specs_name" property="specsName" />
		<result column="owner_id" property="ownerId" />
		
		<result column="price" property="price" />
		<result column="quantity" property="quantity" />
		<result column="presell_quantity" property="presellQuantity" />
		<result column="receiving_quantity" property="receivingQuantity" />
		<result column="received_quantity" property="receivedQuantity" />
		<result column="unit" property="unit" />
		<result column="status" property="status" />
		
		<result column="adopt_start_datetime" property="adoptStartDatetime" />
		<result column="adopt_end_datetime" property="adoptEndDatetime" />
		<result column="deliver_datetime" property="deliverDatetime" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="belongPartId != null and belongPartId != '' ">
				AND t.belong_part_id = #{belongPartId}
			</if>
			<if test="orderCode != null and orderCode != '' ">
				AND t.order_code = #{orderCode}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND t.product_code = #{productCode}
			</if>
			<if test="ownerId != null and ownerId != '' ">
				AND t.owner_id = #{ownerId}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="minQuantity != null and minQuantity != '' ">
				AND (t.quantity > #{minQuantity} or t.presell_quantity > #{minQuantity} or t.receiving_quantity > #{minQuantity} or t.received_quantity > #{minQuantity})
			</if>
			
			<if test="adoptStartStartDatetime != null and adoptStartStartDatetime != '' ">
				<![CDATA[AND t.adopt_start_datetime >= #{adoptStartStartDatetime}]]>
			</if>
			<if test="adoptStartEndDatetime != null and adoptStartEndDatetime != '' ">
				<![CDATA[AND t.adopt_start_datetime <= #{adoptStartEndDatetime}]]>
			</if>
			<if test="adoptEndStartDatetime != null and adoptEndStartDatetime != '' ">
				<![CDATA[AND t.adopt_end_datetime >= #{adoptEndStartDatetime}]]>
			</if>
			<if test="adoptEndEndDatetime != null and adoptEndEndDatetime != '' ">
				<![CDATA[AND t.adopt_end_datetime <= #{adoptEndEndDatetime}]]>
			</if>
			
			<if test="deliverDatetimeStart != null and deliverDatetimeStart != '' ">
				<![CDATA[AND t.deliver_datetime >= #{deliverDatetimeStart}]]>
			</if>
			<if test="deliverDatetimeEnd != null and deliverDatetimeEnd != '' ">
				<![CDATA[AND t.deliver_datetime <= #{deliverDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	
	<select id="select_originalGroup" parameterType="originalGroup" resultMap="originalGroup_DB_Result">
		SELECT
		t.code
		,t.belong_part_id
		,t.order_code
		,t.product_code
		,t.product_name
		,t.specs_code
		,t.specs_name
		,t.owner_id
		
		,t.price
		,t.quantity
		,t.presell_quantity
		,t.receiving_quantity
		,t.received_quantity
		,t.unit
		,t.status
		
		,t.adopt_start_datetime
		,t.adopt_end_datetime
		,t.deliver_datetime
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tys_original_group t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_originalGroup_count" parameterType="originalGroup"
		resultType="java.lang.Long">
		SELECT count(1) FROM tys_original_group t
		<include refid="where_condition" />
	</select>

	<insert id="insert_originalGroup" parameterType="originalGroup">
		INSERT INTO
		tys_original_group(
		code
		,belong_part_id
		,order_code
		,product_code
		,product_name
		,specs_code
		,specs_name
		,owner_id
		
		,price
		,quantity
		,unit
		,status
		,updater
		
		,adopt_start_datetime
		,adopt_end_datetime
		,deliver_datetime
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{belongPartId}
		,#{orderCode}
		,#{productCode}
		,#{productName}
		,#{specsCode}
		,#{specsName}
		,#{ownerId}
		
		,#{price}
		,#{quantity}
		,#{unit}
		,#{status}
		,#{updater}
		
		,#{adoptStartDatetime}
		,#{adoptEndDatetime}
		,#{deliverDatetime}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_startAdopt" parameterType="originalGroup">
		UPDATE tys_original_group
		SET
		status = #{status}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_EndAdopt" parameterType="originalGroup">
		UPDATE tys_original_group
		SET
		status = #{status}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_quantity" parameterType="originalGroup">
		UPDATE tys_original_group
		SET
		quantity = #{quantity}
		WHERE code = #{code}
	</update>
	
	<update id="update_presellQuantity" parameterType="originalGroup">
		UPDATE tys_original_group
		SET
		presell_quantity = #{presellQuantity}
		WHERE code = #{code}
	</update>
	
	<update id="update_receivingQuantity" parameterType="originalGroup">
		UPDATE tys_original_group
		SET
		receiving_quantity = #{receivingQuantity}
		WHERE code = #{code}
	</update>
	
	<update id="update_receivedQuantity" parameterType="originalGroup">
		UPDATE tys_original_group
		SET
		received_quantity = #{receivedQuantity}
		WHERE code = #{code}
	</update>
	
	<update id="update_receive" parameterType="originalGroup">
		UPDATE tys_original_group
		SET
		status = #{status}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

</mapper>