<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IPostDAO">
	<resultMap id="post_DB_Result" type="post">
		<result column="code" property="code" />
		<result column="content" property="content" />
		<result column="user_id" property="userId" />
		<result column="publish_datetime" property="publishDatetime" />
		<result column="status" property="status" />
		
		<result column="location" property="location" />
		<result column="plate_code" property="plateCode" />
		<result column="comment_count" property="commentCount" />
		<result column="point_count" property="pointCount" />
		<result column="updater" property="updater" />
		
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="location != null and location != '' ">
				AND t.location = #{location}
			</if>
			<if test="plateCode != null and plateCode != '' ">
				AND t.plate_code = #{plateCode}
			</if>
			<choose>
				<when test="status != null and status != '' ">
					AND t.status = #{status}
				</when>
				<when test="statusList != null and statusList.size() > 0 ">
					AND t.status IN
					<foreach collection="statusList" item="item" index="index" open="(" separator="," close=")">
						#{item}
					</foreach>
				</when>
			</choose>
			
			<if test="publishDatetimeStart != null and publishDatetimeStart != '' ">
				<![CDATA[AND t.publish_datetime >= #{publishDatetimeStart}]]>
			</if>
			<if test="publishDatetimeEnd != null and publishDatetimeEnd != '' ">
				<![CDATA[AND t.publish_datetime <= #{publishDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	
	<select id="select_post" parameterType="post" resultMap="post_DB_Result">
		SELECT
		t.code
		,t.content
		,t.user_id
		,t.publish_datetime
		,t.status
		
		,t.location
		,t.plate_code
		,t.comment_count
		,t.point_count
		,t.updater
		
		,t.update_datetime
		,t.remark
		FROM
		tforum_post t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_post_count" parameterType="post"
		resultType="java.lang.Long">
		SELECT count(1) FROM tforum_post t
		<include refid="where_condition" />
	</select>

	<insert id="insert_post" parameterType="post">
		INSERT INTO
		tforum_post(
		code
		,content
		,user_id
		,publish_datetime
		,status
		
		,location
		,plate_code
		,comment_count
		,point_count
		,updater
		,update_datetime
		)
		VALUES(
		#{code}
		,#{content}
		,#{userId}
		,#{publishDatetime}
		,#{status}
		
		,#{location}
		,#{plateCode}
		,#{commentCount}
		,#{pointCount}
		,#{updater}
		,#{updateDatetime}
		)
	</insert>

	<update id="update_approvePost" parameterType="post">
		UPDATE tforum_post
		SET
		publish_datetime = #{publishDatetime}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_pointCount" parameterType="post">
		UPDATE tforum_post
		SET
	 	point_count = #{pointCount}
		WHERE code = #{code}
	</update>
	
	<update id="update_commentCount" parameterType="post">
		UPDATE tforum_post
		SET
		comment_count = #{commentCount}
		WHERE code = #{code}
	</update>
	
	<update id="update_postLocation" parameterType="post">
		UPDATE tforum_post
		SET
		location = #{location}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="delete_post" parameterType="post">
		UPDATE tforum_post
		SET
		status = #{status}
		,updater = #{updater}
	 	,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

</mapper>