<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IPresellSpecsDAO">
	<resultMap id="presellSpecs_DB_Result" type="presellSpecs">
		<result column="code" property="code" />
		<result column="product_code" property="productCode" />
		<result column="name" property="name" />
		<result column="pack_count" property="packCount" />
		<result column="price" property="price" />
		<result column="increase" property="increase" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND t.product_code = #{productCode}
			</if>
			<if test="minIncrease != null and minIncrease != '' ">
				AND t.increase is not null and  t.increase > #{minIncrease}
			</if>
		</trim>
	</sql>
	
	<select id="select_presellSpecs" parameterType="presellSpecs" resultMap="presellSpecs_DB_Result">
		SELECT
		t.code
		,t.product_code
		,t.name
		,t.pack_count
		,t.price
		,t.increase
		FROM
		tys_presell_specs t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_presellSpecs_count" parameterType="presellSpecs"
		resultType="java.lang.Long">
		SELECT count(1) FROM tys_presell_specs t
		<include refid="where_condition" />
	</select>

	<insert id="insert_presellSpecs" parameterType="presellSpecs">
		INSERT INTO
		tys_presell_specs(
		code
		,product_code
		,name
		,pack_count
		,price
		,increase
		)
		VALUES(
		#{code}
		,#{productCode}
		,#{name}
		,#{packCount}
		,#{price}
		,#{increase}
		)
	</insert>

	<delete id="delete_byProduct">
		DELETE FROM tys_presell_specs WHERE product_code = #{productCode}
	</delete>
	
	<update id="update_packCount">
		UPDATE tys_presell_specs set pack_count = #{packCount} where code = #{code}
	</update>
	
	<update id="update_price">
		UPDATE tys_presell_specs set price = #{price} where code = #{code}
	</update>

</mapper>