<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.ISessionDAO">
	<resultMap id="session_DB_Result" type="session">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="user1" property="user1" />
		<result column="user2" property="user2" />
		<result column="create_datetime" property="createDatetime" />
		<result column="user1_unread_sum" property="user1UnreadSum" />
		<result column="user2_unread_sum" property="user2UnreadSum" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="user1 != null and user1 != '' ">
				AND t.user1 = #{user1}
			</if>
			<if test="user2 != null and user2 != '' ">
				AND t.user2 = #{user2}
			</if>
			<if test="minUser2UnreadSum != null and minUser2UnreadSum != '' ">
				AND t.user2_unread_sum > #{minUser2UnreadSum}
			</if>
			
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>
			
			<if test="existsUnread != null and existsUnread != '' and existsUnread == 1">
				<if test="user1 != null and user1 != '' ">
					AND t.user1_unread_sum > 0
				</if>
				<if test="user2 != null and user2 != '' ">
					AND t.user2_unread_sum > 0
				</if>
			</if>
			
		</trim>
	</sql>
	
	<insert id="insert_session" parameterType="session">
		INSERT INTO tsc_session(
		code
		,type
		,user1
		,user2
		,create_datetime
		,user1_unread_sum
		,user2_unread_sum
		)
		VALUES(
		#{code}
		,#{type}
		,#{user1}
		,#{user2}
		,#{createDatetime}
		,#{user1UnreadSum}
		,#{user2UnreadSum}
		)
	</insert>
	
	<update id="update_unread_sum1" parameterType="session">
		UPDATE tsc_session
		SET
		user1_unread_sum=#{user1UnreadSum}
		WHERE
		code=#{code}
	</update>
	
	<update id="update_unread_sum2" parameterType="session">
		UPDATE tsc_session
		SET
		user2_unread_sum=#{user2UnreadSum}
		WHERE
		code=#{code}
	</update>
	
	<select id="select_session" parameterType="session" resultMap="session_DB_Result">
		SELECT
		t.code
		,t.type
		,t.user1
		,t.user2
		,t.create_datetime
		,t.user1_unread_sum
		,t.user2_unread_sum
		FROM
		tsc_session t 
		<include refid="where_condition" />
	</select>
	
	<select id="select_session_count" parameterType="session"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsc_session t
		<include refid="where_condition" />
	</select>
</mapper>