<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IShareRecordDAO">
	<resultMap id="shareRecord_DB_Result" type="shareRecord">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="channel" property="channel" />
		<result column="content" property="content" />
		<result column="create_datetime" property="createDatetime" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="channel != null and channel != '' ">
				AND t.channel = #{channel}
			</if>
		</trim>
	</sql>
	
	<select id="select_shareRecord" parameterType="shareRecord" resultMap="shareRecord_DB_Result">
		SELECT
		t.code
		,t.user_id
		,t.channel
		,t.content
		,t.create_datetime
		FROM
		tsj_share_record t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_shareRecord_count" parameterType="shareRecord"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsj_share_record t
		<include refid="where_condition" />
	</select>

	<insert id="insert_shareRecord" parameterType="shareRecord">
		INSERT INTO
		tsj_share_record(
		code
		,user_id
		,channel
		,content
		,create_datetime
		)
		VALUES(
		#{code}
		,#{userId}
		,#{channel}
		,#{content}
		,#{createDatetime}
		)
	</insert>

</mapper>