<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.ISimuMatchResultDAO">
	<resultMap id="simuMatchResult_DB_Result" type="simuMatchResult">
		<result column="id" property="id" />
		<result column="buy_order_code" property="buyOrderCode" />
		<result column="sell_order_code" property="sellOrderCode" />
		<result column="symbol" property="symbol" />
		<result column="to_symbol" property="toSymbol" />
		
		<result column="buy_user_id" property="buyUserId" />
		<result column="sell_user_id" property="sellUserId" />
		<result column="buy_amount" property="buyAmount" />
		<result column="sell_amount" property="sellAmount" />
		<result column="buy_fee" property="buyFee" />
		
		<result column="sell_fee" property="sellFee" />
		<result column="create_datetime" property="createDatetime" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
		</trim>
	</sql>
	
	<select id="select_simuMatchResult" parameterType="simuMatchResult" resultMap="simuMatchResult_DB_Result">
		SELECT
		t.id
		,t.buy_order_code
		,t.sell_order_code
		,t.symbol
		,t.to_symbol
		
		,t.buy_user_id
		,t.sell_user_id
		,t.buy_amount
		,t.sell_amount
		,t.buy_fee
		
		,t.sell_fee
		,t.create_datetime
		FROM
		tsimu_match_result t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_simuMatchResult_count" parameterType="simuMatchResult"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsimu_match_result t
		<include refid="where_condition" />
	</select>

	<insert id="insert_simuMatchResult" parameterType="simuMatchResult">
		INSERT INTO
		tsimu_match_result(
		id
		,buy_order_code
		,sell_order_code
		,symbol
		,to_symbol
		
		,buy_user_id
		,sell_user_id
		,buy_amount
		,sell_amount
		,buy_fee
		
		,sell_fee
		,create_datetime
		)
		VALUES(
		#{id}
		,#{buyOrderCode}
		,#{sellOrderCode}
		,#{symbol}
		,#{toSymbol}
		
		,#{buyUserId}
		,#{sellUserId}
		,#{buyAmount}
		,#{sellAmount}
		,#{buyFee}
		
		,#{sellFee}
		,#{createDatetime}
		)
	</insert>

	<update id="update_simuMatchResult" parameterType="simuMatchResult">
		UPDATE tsimu_match_result
		SET
		buy_amount = #{buyAmount}
		,sell_amount = #{sellAmount}
		,buy_fee = #{buyFee}
		,sell_fee = #{sellFee}
		
		WHERE id = #{id}
	</update>

	<update id="delete_simuMatchResult" parameterType="handicap">
		DELETE FROM 
		tsimu_match_result
		
		WHERE id = #{id}
	</update>

</mapper>