<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.ISimuOrderDAO">
	<resultMap id="simuOrder_DB_Result" type="simuOrder">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="symbol" property="symbol" />
		<result column="to_symbol" property="toSymbol" />
		<result column="type" property="type" />
		
		<result column="direction" property="direction" />
		<result column="price" property="price" />
		<result column="total_count" property="totalCount" />
		<result column="total_amount" property="totalAmount" />
		<result column="traded_count" property="tradedCount" />
		
		<result column="traded_amount" property="tradedAmount" />
		<result column="traded_fee" property="tradedFee" />
		<result column="avg_price" property="avgPrice" />
		<result column="last_traded_datetime" property="lastTradedDatetime" />
		<result column="create_datetime" property="createDatetime" />
		
		<result column="cancel_datetime" property="cancelDatetime" />
		<result column="status" property="status" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="symbol != null and symbol != '' ">
				AND t.symbol = #{symbol}
			</if>
			<if test="toSymbol != null and toSymbol != '' ">
				AND t.to_symbol = #{toSymbol}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="direction != null and direction != '' ">
				AND t.direction = #{direction}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="statusList != null and statusList != '' ">
				AND t.status in
				<foreach item="item" index="index" collection="statusList"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</trim>
	</sql>
	<select id="select_simuOrder" parameterType="simuOrder"
		resultMap="simuOrder_DB_Result">
		SELECT
		t.code
		,t.user_id
		,t.symbol
		,t.to_symbol
		,t.type
		
		,t.direction
		,t.price
		,t.total_count
		,t.total_amount
		,t.traded_count
		
		,t.traded_amount
		,t.traded_fee
		,t.avg_price
		,t.last_traded_datetime
		,t.create_datetime
		
		,t.cancel_datetime
		,t.status
		FROM
		tsimu_order t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_simuOrder_count" parameterType="simuOrder"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsimu_order t
		<include refid="where_condition" />
	</select>

	<insert id="insert_simuOrder" parameterType="simuOrder">
		INSERT INTO
		tsimu_order(
		code
		,user_id
		,symbol
		,to_symbol
		,type
		
		,direction
		,price
		,total_count
		,total_amount
		,traded_count
		
		,traded_amount
		,traded_fee
		,avg_price
		,last_traded_datetime
		,create_datetime
		
		,cancel_datetime
		,status 
		)
		VALUES(
		#{code}
		,#{userId}
		,#{symbol}
		,#{toSymbol}
		,#{type}
		
		,#{direction}
		,#{price}
		,#{totalCount}
		,#{totalAmount}
		,#{tradedCount}
		
		,#{tradedAmount}
		,#{tradedFee}
		,#{avgPrice}
		,#{lastTradedDatetime}
		,#{createDatetime}
		
		,#{cancelDatetime}
		,#{status}
		)
	</insert>


	<update id="update_market_simuOrder" parameterType="simuOrder">
		UPDATE tsimu_order
		SET
		traded_count = #{tradedCount}
		,traded_amount = #{tradedAmount}
		,traded_fee = #{tradedFee}
		,last_traded_datetime = #{lastTradedDatetime}
		,status = #{status}
		
		WHERE code = #{code}
	</update>
	
	<update id="update_limit_simuOrder" parameterType="simuOrder">
		UPDATE tsimu_order
		SET
		traded_count = #{tradedCount}
		,traded_amount = #{tradedAmount}
		,traded_fee = #{tradedFee}
		,avg_price = #{avgPrice}
		,last_traded_datetime = #{lastTradedDatetime}
		
		WHERE code = #{code}
	</update>

	<update id="cancel_simuOrder" parameterType="simuOrder">
		DELETE FROM
		tsimu_order
		
		WHERE code = #{code}
	</update>

	<update id="trade_success" parameterType="simuOrder">
		UPDATE tsimu_order
		SET
		traded_count = #{tradedCount}
		,traded_amount = #{tradedAmount}
		,traded_fee = #{tradedFee}
		,last_traded_datetime =#{lastTradedDatetime}
		,status = #{status}
		
		WHERE code = #{code}
	</update>

</mapper>