<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.ISimuKLineDAO">
	<resultMap id="simuKLine_DB_Result" type="simuKLine">
		<result column="id" property="id" />
		<result column="symbol" property="symbol" />
		<result column="to_symbol" property="toSymbol" />
		<result column="period" property="period" />
		<result column="volume" property="volume" />
		
		<result column="quantity" property="quantity" />
		<result column="amount" property="amount" />
		<result column="open" property="open" />
		<result column="close" property="close" />
		<result column="high" property="high" />
		
		<result column="low" property="low" />
		<result column="create_datetime" property="createDatetime" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="symbol != null and symbol != '' ">
				AND t.symbol = #{symbol}
			</if>
			
			<if test="toSymbol != null and toSymbol != '' ">
				AND t.to_symbol = #{toSymbol}
			</if>
			
			<if test="period != null and period != '' ">
				AND t.period = #{period}
			</if>
		</trim>
	</sql>
	
	<select id="select_simuKLine" parameterType="simuKLine" resultMap="simuKLine_DB_Result">
		SELECT
		t.id
		,t.symbol
		,t.to_symbol
		,t.period
		,t.volume
		
		,t.quantity
		,t.amount
		,t.open
		,t.close
		,t.high
		
		,t.low
		,t.create_datetime
		FROM
		tsimu_kline t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_simuKLine_count" parameterType="simuKLine"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsimu_kline t
		<include refid="where_condition" />
	</select>

	<insert id="insert_simuKLine" parameterType="simuKLine">
		INSERT INTO
		tsimu_kline(
		id
		,symbol
		,to_symbol
		,period
		,volume
		
		,quantity
		,amount
		,open
		,close
		,high
		
		,low
		,create_datetime
		)
		VALUES(
		#{id}
		,#{symbol}
		,#{toSymbol}
		,#{period}
		,#{volume}
		
		,#{quantity}
		,#{amount}
		,#{open}
		,#{close}
		,#{high}
		
		,#{low}
		,#{createDatetime}
		)
	</insert>

</mapper>