<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.ISimuOrderDetailDAO">
	<resultMap id="simuOrderDetail_DB_Result" type="simuOrderDetail">
		<result column="code" property="code" />
		<result column="order_code" property="orderCode" />
		<result column="user_id" property="userId" />
		<result column="symbol" property="symbol" />
		<result column="to_symbol" property="toSymbol" />
		
		<result column="traded_price" property="tradedPrice" />
		<result column="traded_count" property="tradedCount" />
		<result column="traded_amount" property="tradedAmount" />
		<result column="traded_fee" property="tradedFee" />
		<result column="create_datetime" property="createDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="orderCode != null and orderCode != '' ">
				AND t.order_code = #{orderCode}
			</if>
			<if test="symbol != null and symbol != '' ">
				AND t.symbol = #{symbol}
			</if>
			<if test="toSymbol != null and toSymbol != '' ">
				AND t.to_symbol = #{toSymbol}
			</if>
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	<select id="select_simuOrderDetail" parameterType="simuOrderDetail" resultMap="simuOrderDetail_DB_Result">
		SELECT
		t.code
		,t.order_code
		,t.user_id
		,t.symbol
		,t.to_symbol
		
		,t.traded_price
		,t.traded_count
		,t.traded_amount
		,t.traded_fee
		,t.create_datetime
		FROM
		tsimu_order_detail t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_simuOrderDetail_count" parameterType="simuOrderDetail"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsimu_order_detail t
		<include refid="where_condition" />
	</select>

	<insert id="insert_simuOrderDetail" parameterType="simuOrderDetail">
		INSERT INTO
		tsimu_order_detail(
		code
		,order_code
		,user_id
		,symbol
		,to_symbol
		
		,traded_price
		,traded_count
		,traded_amount
		,traded_fee
		,create_datetime
		)
		VALUES(
		#{code}
		,#{orderCode}
		,#{userId}
		,#{symbol}
		,#{toSymbol}
		
		,#{tradedPrice}
		,#{tradedCount}
		,#{tradedAmount}
		,#{tradedFee}
		,#{createDatetime}
		)
	</insert>

</mapper>