<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.ISimuOrderHistoryDAO">
	<resultMap id="simuOrderHistory_DB_Result" type="simuOrderHistory">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="symbol" property="symbol" />
		<result column="to_symbol" property="toSymbol" />
		<result column="type" property="type" />
		
		<result column="direction" property="direction" />
		<result column="price" property="price" />
		<result column="total_count" property="totalCount" />
		<result column="total_amount" property="totalAmount" />
		<result column="traded_count" property="tradedCount" />
		
		<result column="traded_amount" property="tradedAmount" />
		<result column="traded_fee" property="tradedFee" />
		<result column="avg_price" property="avgPrice" />
		<result column="last_traded_datetime" property="lastTradedDatetime" />
		<result column="create_datetime" property="createDatetime" />
		
		<result column="cancel_datetime" property="cancelDatetime" />
		<result column="status" property="status" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="direction != null and direction != '' ">
				AND t.direction = #{direction}
			</if>
		</trim>
	</sql>
	<select id="select_simuOrderHistory" parameterType="simuOrderHistory" resultMap="simuOrderHistory_DB_Result">
		SELECT
		t.code
		,t.user_id
		,t.symbol
		,t.to_symbol
		,t.type
		
		,t.direction
		,t.price
		,t.total_count
		,t.total_amount
		,t.traded_count
		
		,t.traded_amount
		,t.traded_fee
		,t.avg_price
		,t.last_traded_datetime
		,t.create_datetime
		
		,t.cancel_datetime
		,t.status
		FROM
		tsimu_order_history t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_simuOrderHistory_count" parameterType="simuOrderHistory"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsimu_order_history t
		<include refid="where_condition" />
	</select>

	<insert id="insert_simuOrderHistory" parameterType="simuOrderHistory">
		INSERT INTO
		tsimu_order_history(
		code
		,user_id
		,symbol
		,to_symbol
		,type
		
		,direction
		,price
		,total_count
		,total_amount
		,traded_count
		
		,traded_amount
		,traded_fee
		,avg_price
		,last_traded_datetime
		,create_datetime
		
		,cancel_datetime
		,status
		)
		VALUES(
		#{code}
		,#{userId}
		,#{symbol}
		,#{toSymbol}
		,#{type}
		
		,#{direction}
		,#{price}
		,#{totalCount}
		,#{totalAmount}
		,#{tradedCount}
		
		,#{tradedAmount}
		,#{tradedFee}
		,#{avgPrice}
		,#{lastTradedDatetime}
		,#{createDatetime}
		
		,#{cancelDatetime}
		,#{status}
		)
	</insert>



</mapper>