<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.ITeamDAO">
	<resultMap id="team_DB_Result" type="team">
		<result column="code" property="code" />
		<result column="match_code" property="matchCode" />
		<result column="name" property="name" />
		<result column="logo" property="logo" />
		<result column="description" property="description" />
		
		<result column="captain" property="captain" />
		<result column="weight" property="weight" />
		<result column="location" property="location" />
		<result column="order_no" property="orderNo" />
		<result column="status" property="status" />
		
		<result column="create_datetime" property="createDatetime" />
		<result column="post_count" property="postCount" />
		<result column="member_count" property="memberCount" />
		<result column="benefit_rate" property="benefitRate" />
		<result column="updater" property="updater" />
		
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="name != null and name != '' ">
				AND t.name = #{name}
			</if>
			<if test="matchCode != null and matchCode != '' ">
				AND t.match_code = #{matchCode}
			</if>
			<if test="location != null and location != '' ">
				AND t.location = #{location}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="captain != null and captain != '' ">
				AND t.captain = #{captain}
			</if>
		</trim>
	</sql>
	
	<select id="select_team" parameterType="team" resultMap="team_DB_Result">
		SELECT
		t.code
		,t.match_code
		,t.name
		,t.logo
		,t.description
		
		,t.captain
		,t.weight
		,t.location
		,t.order_no
		,t.status
		
		,t.create_datetime
		,t.post_count
		,t.member_count
		,t.benefit_rate
		,t.updater
		
		,t.update_datetime
		,t.remark
		FROM
		tforum_team t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_team_count" parameterType="team"
		resultType="java.lang.Long">
		SELECT count(1) FROM tforum_team t
		<include refid="where_condition" />
	</select>

	<insert id="insert_team" parameterType="team">
		INSERT INTO
		tforum_team(
		code
		,match_code
		,name
		,logo
		,description
		
		,captain
		,status
		,create_datetime
		,updater
		,update_datetime
		
		,post_count
		,member_count
		,remark
		)
		VALUES(
		#{code}
		,#{matchCode}
		,#{name}
		,#{logo}
		,#{description}
		
		,#{captain}
		,#{status}
		,#{createDatetime}
		,#{updater}
		,#{updateDatetime}
		
		,#{postCount}
		,#{memberCount}
		,#{remark}
		)
	</insert>

	<update id="update_teamWeight" parameterType="team">
		UPDATE tforum_team
		SET
		weight = #{weight}
		WHERE code = #{code}
	</update>

	<update id="update_teamLocation" parameterType="team">
		UPDATE tforum_team
		SET
		location = #{location}
		,order_no = #{orderNo}
		WHERE code = #{code}
	</update>
	
	<update id="update_teamPostCount" parameterType="team">
		UPDATE tforum_team
		SET
		post_count = #{postCount}
		WHERE code = #{code}
	</update>
	
	<update id="update_teamMemberCount" parameterType="team">
		UPDATE tforum_team
		SET
		member_count = #{memberCount}
		WHERE code = #{code}
	</update>
	
	<update id="update_teamStatus" parameterType="team">
		UPDATE tforum_team
		SET
		status = #{status}
		WHERE code = #{code}
	</update>
	
</mapper>