<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.ITeamMemberApplyDAO">
	<resultMap id="teamMemberApply_DB_Result" type="teamMemberApply">
		<result column="code" property="code" />
		<result column="team_code" property="teamCode" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="status" property="status" />
		
		<result column="approver" property="approver" />
		<result column="approve_datetime" property="approveDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="teamCode != null and teamCode != '' ">
				AND t.team_code = #{teamCode}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<choose>
				<when test="status != null and status != '' ">
					AND t.status = #{status}
				</when>
				<when test="statusList != null and statusList.size() > 0 ">
					AND t.status IN
					<foreach collection="statusList" item="item" index="index" open="(" separator="," close=")">
						#{item}
					</foreach>
				</when>
			</choose>
			
			<if test="applyStartDatetime != null and applyStartDatetime != '' ">
				<![CDATA[AND t.apply_datetime >= #{applyStartDatetime}]]>
			</if>
			<if test="applyEndDatetime != null and applyEndDatetime != '' ">
				<![CDATA[AND t.apply_datetime <= #{applyEndDatetime}]]>
			</if>
			<if test="approveStartDatetime != null and approveStartDatetime != '' ">
				<![CDATA[AND t.approve_datetime >= #{approveStartDatetime}]]>
			</if>
			<if test="approveEndDatetime != null and approveEndDatetime != '' ">
				<![CDATA[AND t.approve_datetime <= #{approveEndDatetime}]]>
			</if>
		</trim>
	</sql>
	
	<select id="select_teamMemberApply" parameterType="teamMemberApply" resultMap="teamMemberApply_DB_Result">
		SELECT
		t.code
		,t.team_code
		,t.apply_user
		,t.apply_datetime
		,t.status
		
		,t.approver
		,t.approve_datetime
		,t.remark
		FROM
		tforum_team_member_apply t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_teamMemberApply_count" parameterType="teamMemberApply"
		resultType="java.lang.Long">
		SELECT count(1) FROM tforum_team_member_apply t
		<include refid="where_condition" />
	</select>

	<insert id="insert_teamMemberApply" parameterType="teamMemberApply">
		INSERT INTO
		tforum_team_member_apply(
		code
		,team_code
		,apply_user
		,apply_datetime
		,status
		,remark
		)
		VALUES(
		#{code}
		,#{teamCode}
		,#{applyUser}
		,#{applyDatetime}
		,#{status}
		,#{remark}
		)
	</insert>

	<update id="update_approveTeamMemberApply" parameterType="teamMemberApply">
		UPDATE tforum_team_member_apply
		SET
		status = #{status}
		,approver = #{approver}
		,approve_datetime = #{approveDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

</mapper>