<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.ITokenEventDAO">
	<resultMap id="tokenEvent_DB_Result" type="tokenEvent">
		<result column="id" property="id" />
		<result column="hash" property="hash" />
		<result column="token_from" property="tokenFrom" />
		<result column="token_to" property="tokenTo" />
		<result column="token_value" property="tokenValue" />
		<result column="token_log_index" property="tokenLogIndex" />
		<result column="symbol" property="symbol" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="hash != null and hash != '' ">
				AND t.hash = #{hash}
			</if>
			<if test="tokenFrom != null and tokenFrom != '' ">
				AND t.token_from = #{tokenFrom}
			</if>
			<if test="tokenTo != null and tokenTo != '' ">
				AND t.token_to = #{tokenTo}
			</if>
			<if test="symbol != null and symbol != '' ">
				AND t.symbol = #{symbol}
			</if>
			<if test="tokenLogIndex != null and tokenLogIndex != '' ">
				AND t.token_log_index = #{tokenLogIndex}
			</if>
		</trim>
	</sql>
	<select id="select_tokenEvent" parameterType="tokenEvent" resultMap="tokenEvent_DB_Result">
		SELECT
		t.id
		,t.hash
		,t.token_from
		,t.token_to
		,t.token_value
		,t.token_log_index
		,t.symbol
		FROM
		tcoin_token_event t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_tokenEvent_count" parameterType="tokenEvent"
		resultType="java.lang.Long">
		SELECT count(1) FROM tcoin_token_event t
		<include refid="where_condition" />
	</select>

	<insert id="insert_tokenEvent" parameterType="tokenEvent">
		INSERT INTO
		tcoin_token_event(
		hash
		,token_from
		,token_to
		,token_value
		,token_log_index
		,symbol
		)
		VALUES(
		#{hash}
		,#{tokenFrom}
		,#{tokenTo}
		,#{tokenValue}
		,#{tokenLogIndex}
		,#{symbol}
		)
	</insert>
	
	<insert id="insert_eventList" parameterType="java.util.List">
	
		INSERT INTO `tcoin_token_event`(
			`hash`
			,`token_from`
			,`token_to`
			,`token_value`
			,`token_log_index`
			
			,`symbol`
			)
		VALUES

		  <foreach collection="list" item="item" separator=",">
			  (
			  #{item.hash} 
			,#{item.tokenFrom} 
			,#{item.tokenTo} 
			,#{item.tokenValue}
			,#{item.tokenLogIndex}
			
			,#{item.symbol}
			  )
		  </foreach>
	</insert>

	<update id="update_tokenEvent" parameterType="tokenEvent">
		UPDATE tcoin_token_event
		SET
		hash = #{hash}
		,token_from = #{tokenFrom}
		,token_to = #{tokenTo}
		,token_value = #{tokenValue}
		,token_log_index = #{tokenLogIndex}
		,symbol = #{symbol}
		WHERE code = #{code}
	</update>


</mapper>