<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IToolUseRecordDAO">
	<resultMap id="toolUseRecord_DB_Result" type="toolUseRecord">
		<result column="code" property="code" />
		<result column="tool_code" property="toolCode" />
		<result column="tool_order_code" property="toolOrderCode" />
		<result column="adopt_tree_code" property="adoptTreeCode" />
		<result column="tool_type" property="toolType" />
		
		<result column="status" property="status" />
		<result column="user_id" property="userId" />
		<result column="create_datetime" property="createDatetime" />
		<result column="invalid_datetime" property="invalidDatetime" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="toolCode != null and toolCode != '' ">
				AND t.tool_code = #{toolCode}
			</if>
			<if test="toolOrderCode != null and toolOrderCode != '' ">
				AND t.tool_order_code = #{toolOrderCode}
			</if>
			<if test="adoptTreeCode != null and adoptTreeCode != '' ">
				AND t.adopt_tree_code = #{adoptTreeCode}
			</if>
			<if test="toolType != null and toolType != '' ">
				AND t.tool_type = #{toolType}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
		</trim>
	</sql>
	
	<select id="select_toolUseRecord" parameterType="toolUseRecord" resultMap="toolUseRecord_DB_Result">
		SELECT
		t.code
		,t.tool_code
		,t.tool_order_code
		,t.adopt_tree_code
		,t.tool_type
		,t.status
		,t.user_id
		,t.create_datetime
		,t.invalid_datetime
		FROM
		tb_tool_use_record t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_toolUseRecord_count" parameterType="toolUseRecord"
		resultType="java.lang.Long">
		SELECT count(1) FROM tb_tool_use_record t
		<include refid="where_condition" />
	</select>

	<insert id="insert_toolUseRecord" parameterType="toolUseRecord">
		INSERT INTO
		tb_tool_use_record(
		code
		,tool_code
		,tool_order_code
		,adopt_tree_code
		,tool_type
		,status
		,user_id
		,create_datetime
		,invalid_datetime
		)
		VALUES(
		#{code}
		,#{toolCode}
		,#{toolOrderCode}
		,#{adoptTreeCode}
		,#{toolType}
		,#{status}
		,#{userId}
		,#{createDatetime}
		,#{invalidDatetime}
		)
	</insert>
	
	<update id="update_status" parameterType="toolUseRecord">
		UPDATE tb_tool_use_record
		SET
		status = #{status}
		WHERE code = #{code}
	</update>


</mapper>