<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.ITreeDAO">
	<resultMap id="tree_DB_Result" type="tree">
		<result column="code" property="code" />
		<result column="product_type" property="productType" />
		<result column="product_code" property="productCode" />
		<result column="cur_order_code" property="curOrderCode" />
		<result column="owner_id" property="ownerId" />
		<result column="tree_number" property="treeNumber" />
		<result column="sell_type" property="sellType" />
		<result column="age" property="age" />
		
		<result column="origin_place" property="originPlace" />
		<result column="scientific_name" property="scientificName" />
		<result column="variety" property="variety" />
		<result column="rank" property="rank" />
		<result column="province" property="province" />
		
		<result column="city" property="city" />
		<result column="area" property="area" />
		<result column="town" property="town" />
		<result column="longitude" property="longitude" />
		<result column="latitude" property="latitude" />
		
		<result column="pic" property="pic" />
		<result column="status" property="status" />
		<result column="article_count" property="articleCount" />
		<result column="point_count" property="pointCount" />
		<result column="collection_count" property="collectionCount" />
		
		<result column="adopt_count" property="adoptCount" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="sellType != null and sellType != '' ">
				AND t.sell_type = #{sellType}
			</if>
			<if test="productType != null and productType != '' ">
				AND t.product_type = #{productType}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND t.product_code = #{productCode}
			</if>
			<if test="ownerId != null and ownerId != '' ">
				AND t.owner_id = #{ownerId}
			</if>
			<if test="ownerList != null and ownerList != '' ">
				AND t.owner_id in 
                <foreach item="item" index="index" collection="ownerList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
			<if test="treeNumber != null and treeNumber != '' ">
				AND t.tree_number = #{treeNumber}
			</if>
			<if test="scientificName != null and scientificName != '' ">
				AND t.scientific_name = #{scientificName}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>			
			<if test="curOrderCode != null and curOrderCode != '' ">
				AND t.cur_order_code = #{curOrderCode}
			</if>
			<if test="originPlace != null and originPlace != '' ">
				AND t.origin_place like "%"#{originPlace}"%"
			</if>
			<if test="city != null and city != '' ">
				AND t.city like "%"#{city}"%"
			</if>
			
			<if test="maxAdoptCount != null and maxAdoptCount != '' ">
				<![CDATA[AND t.adopt_count < #{maxAdoptCount}]]>
			</if>
			
		</trim>
	</sql>
	
	<select id="select_tree" parameterType="tree" resultMap="tree_DB_Result">
		SELECT
		t.code
		,t.product_type
		,t.product_code
		,t.cur_order_code
		,t.owner_id
		,t.tree_number
		,t.sell_type
		,t.age
		
		,t.origin_place
		,t.scientific_name
		,t.variety
		,t.rank
		,t.province
		
		,t.city
		,t.area
		,t.town
		,t.longitude
		,t.latitude
		
		,t.pic
		,t.status
		,t.article_count
		,t.point_count
		,t.collection_count
		
		,t.adopt_count
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tzb_tree t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_tree_count" parameterType="tree"
		resultType="java.lang.Long">
		SELECT count(1) FROM tzb_tree t
		<include refid="where_condition" />
	</select>

	<insert id="insert_tree" parameterType="tree">
		INSERT INTO
		tzb_tree(
		code
		,product_type
		,product_code
		,owner_id
		,tree_number
		,sell_type
		,age
		
		,origin_place
		,scientific_name
		,variety
		,rank
		,province
		
		,city
		,area
		,town
		,longitude
		,latitude
		
		,pic
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{productType}
		,#{productCode}
		,#{ownerId}
		,#{treeNumber}
		,#{sellType}
		,#{age}
		
		,#{originPlace}
		,#{scientificName}
		,#{variety}
		,#{rank}
		,#{province}
		
		,#{city}
		,#{area}
		,#{town}
		,#{longitude}
		,#{latitude}
		
		,#{pic}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_tree" parameterType="tree">
		UPDATE tzb_tree
		SET
		tree_number = #{treeNumber}
		,age = #{age}
		,origin_place = #{originPlace}
		,scientific_name = #{scientificName}
		,variety = #{variety}
		,rank = #{rank}
		,province = #{province}
		,city = #{city}
		,area = #{area}
		,town = #{town}
		,longitude = #{longitude}
		,latitude = #{latitude}
		,pic = #{pic}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_toPayTree" parameterType="tree">
		UPDATE tzb_tree
		SET
		cur_order_code = #{curOrderCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_cancelTree" parameterType="tree">
		UPDATE tzb_tree
		SET
		cur_order_code = #{curOrderCode}
		,status = #{status}
		WHERE code = #{code}
	</update>
	
	<update id="update_cancelTreeByProduct" parameterType="tree">
		UPDATE tzb_tree
		SET
		cur_order_code = #{curOrderCode}
		,status = #{status}
		WHERE product_code = #{productCode}
	</update>
	
	<update id="update_payTree" parameterType="tree">
		UPDATE tzb_tree
		SET
		status = #{status}
		,adopt_count = #{adoptCount}
		WHERE code = #{code}
	</update>
	
	<update id="update_articleCount" parameterType="tree">
		UPDATE tzb_tree
		SET
		article_count = #{articleCount}
		WHERE tree_number = #{treeNumber}
	</update>
	
	<update id="update_pointCount" parameterType="tree">
		UPDATE tzb_tree
		SET
		point_count = #{pointCount}
		WHERE tree_number = #{treeNumber}
	</update>
	
	<update id="update_collectionCount" parameterType="tree">
		UPDATE tzb_tree
		SET
		collection_count = #{collectionCount}
		WHERE tree_number = #{treeNumber}
	</update>
	
	<update id="update_adoptCountByProduct" parameterType="tree">
		UPDATE tzb_tree
		SET
		adopt_count = #{adoptCount}
		WHERE product_code = #{productCode}
	</update>
	
	<update id="update_adoptCount" parameterType="tree">
		UPDATE tzb_tree
		SET
		adopt_count = #{adoptCount}
		WHERE tree_number = #{treeNumber}
	</update>
	
	<delete id="delete_treeByProduct" parameterType="tree">
		DELETE FROM tzb_tree WHERE product_code = #{productCode}
	</delete>
	
</mapper>