<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IUserExtDAO">
	<resultMap id="userExt_DB_Result" type="userExt">
		<result column="user_id" property="userId" />
		<result column="gender" property="gender" />
		<result column="introduce" property="introduce" />
		<result column="birthday" property="birthday" />
		<result column="age" property="age" />
		<result column="driver_li" property="driverLi" />
		<result column="passport" property="passport" />
		<result column="diploma" property="diploma" />
		<result column="occupation" property="occupation" />
		<result column="grad_datatime" property="gradDatetime" />
		<result column="work_time" property="workTime" />
		<result column="pdf" property="pdf" />
		<result column="id_pic" property="idPic" />
		<result column="company_name" property="companyName" />
		<result column="bussiness_license_id" property="bussinessLicenseId" />
		<result column="company_introduce" property="companyIntroduce" />
		<result column="bussiness_license" property="bussinessLicense" />
		<result column="person_auth_status" property="personAuthStatus" />
		<result column="company_auth_status" property="companyAuthStatus" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">			
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
		</trim>
	</sql>
	
	<insert id="insert_userExt" parameterType="userExt">
		INSERT INTO tstd_user_ext(
		user_id
		)
		VALUES(
		#{userId}
		)
	</insert>
	
	<select id="select_user_ext_count" parameterType="userExt" resultType="java.lang.Long">
		SELECT count(1) FROM tstd_user_ext t 
		<include refid="where_condition"/>
	</select>
	
	<select id="select_userExt" parameterType="userExt" resultMap="userExt_DB_Result">
		SELECT
		t.user_id
		,t.gender
		,t.introduce
		,t.birthday
		,t.age
		,t.driver_li
		,t.passport
		,t.diploma
		,t.occupation
		,t.grad_datetime
		,t.work_time
		,t.pdf
		,t.id_pic
		,t.company_name
		,t.bussiness_license_id
		,t.company_introduce
		,t.bussiness_license
		,t.person_auth_status
		,t.company_auth_status
		FROM
		tstd_user_ext t
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	
	<update id="update_userExt" parameterType="userExt">
		UPDATE tstd_user_ext
		SET
		<if test="userId != null and userId != '' ">
			user_id=#{userId}
		</if>
		<if test="gender != null and gender != '' ">
			,gender=#{gender}
		</if>
		<if test="introduce != null and introduce != '' ">
			,introduce=#{introduce}
		</if>
		<if test="birthday != null and birthday != '' ">
			,birthday=#{birthday}
		</if>
		<if test="age != null and age != '' ">
			,age=#{age}
		</if>
		<if test="driverLi != null and driverLi != '' ">
			,driver_li=#{driverLi}
		</if>
		<if test="passport != null and passport != '' ">
			,passport=#{passport}
		</if>
		<if test="diploma != null and diploma != '' ">
			,diploma=#{diploma}
		</if>
		<if test="occupation != null and occupation != '' ">
			,occupation=#{occupation}
		</if>
		<if test="gradDatetime != null and gradDatetime != '' ">
			,grad_datetime=#{gradDatetime}
		</if>
		<if test="workTime != null and workTime != '' ">
			,work_time=#{workTime}
		</if>
		<if test="pdf != null and pdf != '' ">
			,pdf=#{pdf}
		</if>
		<if test="idPic != null and idPic != '' ">
			,id_pic=#{idPic}
		</if>
		<if test="companyName != null and companyName != '' ">
			,company_name=#{companyName}
		</if>
		<if test="bussinessLicenseId != null and bussinessLicenseId != '' ">
			,bussiness_license_id=#{bussinessLicenseId}
		</if>
		<if test="companyIntroduce != null and companyIntroduce != '' ">
			,company_introduce=#{companyIntroduce}
		</if>
		<if test="bussinessLicense != null and bussinessLicense != '' ">
			,bussiness_license=#{bussinessLicense}
		</if>
		<if test="personAuthStatus != null and personAuthStatus != '' ">
			,person_auth_status=#{personAuthStatus}
		</if>
		<if test="companyAuthStatus != null and companyAuthStatus != '' ">
			,company_auth_status=#{companyAuthStatus}
		</if>
		WHERE
		user_id=#{userId}
	</update>
</mapper>