<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IUserRelationDAO">
	<resultMap id="userRelation_DB_Result" type="userRelation">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="to_user" property="toUser" />
		<result column="status" property="status" />
		<result column="type" property="type" />
		<result column="create_datetime" property="createDatetime" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="toUser != null and toUser != '' ">
				AND t.to_user = #{toUser}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	
	<select id="select_userRelation" parameterType="userRelation" resultMap="userRelation_DB_Result">
		SELECT 
		t.code
		,t.user_id
		,t.to_user
		,t.status
		,t.type
		,t.create_datetime
		FROM
		tstd_user_relation t
		<include refid="where_condition" />
		ORDER BY t.code DESC
	</select>
	
	<select id="select_userRelation_count" parameterType="userRelation"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_user_relation t
		<include refid="where_condition" />
	</select>
	
	<resultMap id="myUserRelation_DB_Result" type="userRelation">
		<result column="row_no" property="rowNo" />
		<result column="to_user" property="toUser" />
		<result column="certificate_count" property="certificateCount" />
		<result column="tpp_amount" property="tppAmount" />
	</resultMap>
	
	<select id="select_myUserRelation_list" parameterType="userRelation" resultMap="myUserRelation_DB_Result">
		select 
        (@rowNO:= @rowNo+1) as row_no,
		a.to_user,
		ifnull((select total_amount from tstd_account where user_id = a.to_user and currency='TPP') * #{weightRate1}+
		(select sum(amount) from try_adopt_order_tree) * #{weightRate2},0) as weight,
		(select count(*) from try_adopt_order_tree where current_holder = a.to_user) as certificate_count,
		ifnull((select amount from tstd_account where user_id = a.to_user and currency='TPP'),0) tpp_amount
		from
		(select to_user from tstd_user_relation where user_id=#{userId}) a,(select @rowNO:=0) b
		order by (ifnull((select total_amount from tstd_account where user_id = a.to_user and currency='TPP') * #{weightRate1}+
		(select sum(amount) from try_adopt_order_tree) * #{weightRate2},0)) desc
	</select>
	
	<select id="select_myUserRelation_count" parameterType="userRelation"
		resultType="java.lang.Long">
		select count(*) from
		(select to_user from tstd_user_relation where user_id=#{userId}) a
		order by (ifnull((select total_amount from tstd_account where user_id = a.to_user and currency='TPP') * #{weightRate1}+
		(select sum(amount) from try_adopt_order_tree) * #{weightRate2},0)) desc
	</select>
	
	<insert id="insert_userRelation" parameterType="userRelation">
		INSERT INTO
		tstd_user_relation(
		code
		,user_id
		,to_user
	    ,type
		,status
		,create_datetime
		)
		VALUES(
		#{code}
		,#{userId}
		,#{toUser}
		,#{type}
		,#{status}
		,#{createDatetime}
		)
	</insert>
	
	<delete id="delete_userRelation" parameterType="userRelation">
		DELETE FROM
		tstd_user_relation
		WHERE user_id = #{userId} AND to_user = #{toUser} AND type = #{type}
	</delete>
	
	<update id="update_userRelationStatus" parameterType="userRelation">
		UPDATE tstd_user_relation
		SET
		status= #{status}
		WHERE user_id = #{userId} AND to_user = #{toUser} AND type = #{type}
	</update>
	
</mapper>
