<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IUserExtDAO">
	<resultMap id="userExt_DB_Result" type="userExt">
		<result column="user_id" property="userId" />
		<result column="gender" property="gender" />
		<result column="introduce" property="introduce" />
		<result column="birthday" property="birthday" />
		<result column="email" property="email" />
		<result column="driver_li" property="driverLi" />
		<result column="passport" property="passport" />
		<result column="diploma" property="diploma" />
		<result column="occupation" property="occupation" />
		<result column="grad_datatime" property="gradDatetime" />
		<result column="work_time" property="workTime" />
		<result column="pdf" property="pdf" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">			
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
		</trim>
	</sql>
	
	<insert id="insert_userExt" parameterType="userExt">
		INSERT INTO tstd_user_ext(
		user_id
		
		)
		VALUES(
		#{userId}
		)
	</insert>
	
	<select id="select_userExt" parameterType="userExt" resultMap="userExt_DB_Result">
		SELECT
		t.user_id
		,t.gender
		,t.introduce
		,t.birthday
		,t.email
		,t.driver_li
		,t.passport
		,t.diploma
		,t.occupation
		,t.grad_datetime
		,t.work_time
		,t.pdf
		FROM
		tstd_user_ext t
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	<update id="update_userExt" parameterType="userExt">
		UPDATE tstd_user_ext
		SET
		<if test="gender != null and gender != '' ">
			gender=#{gender}
		</if>
		<if test="introduce != null and introduce != '' ">
			,introduce=#{introduce}
		</if>
		<if test="birthday != null and birthday != '' ">
			,birthday=#{birthday}
		</if>
		<if test="email != null and email != '' ">
			,email=#{email}
		</if>
		<if test="driverLi != null and driverLi != '' ">
			,driver_li=#{driverLi}
		</if>
		<if test="passport != null and passport != '' ">
			,passport=#{passport}
		</if>
		<if test="diploma != null and diploma != '' ">
			,diploma=#{diploma}
		</if>
		<if test="occupation != null and occupation != '' ">
			,occupation=#{occupation}
		</if>
		<if test="gradDatetime != null and gradDatetime != '' ">
			,grad_datetime=#{gradDatetime}
		</if>
		<if test="workTime != null and workTime != '' ">
			,work_time=#{workTime}
		</if>
		<if test="pdf != null and pdf != '' ">
			,pdf=#{pdf}
		</if>
		WHERE
		user_id=#{userId}
	</update>
</mapper>