<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<context:component-scan base-package="com.cdkj">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
			
				<!-- 行情 -->
       		    <!-- <ref bean="marketTrigger"/>
       		    <ref bean="doScanPairTrigger"/>
       		    <ref bean="doSaveKLineTrigger"/>
       		    <ref bean="doScanMatchResultTrigger"/>
				<ref bean="doERC20CollectTrigger"/>
				<ref bean="doERC20CheckGetFeeTxTrigger"/>
				<ref bean="doERC20CheckCollectTxTrigger"/>       		    
				<ref bean="doEthCollectTxTrigger"/>    
				<ref bean="doETHAndTokenWithDrawGetTxTrigger"/>-->
				
			</list>
		</property>
		<property name="autoStartup" value="true" />
	</bean>

	<!-- 定时获取行情 -->
	<bean id="marketTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="market" />
		<property name="cronExpression" value="*/30 * * * * ?" />
	</bean>
	<bean id="market"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="marketAOImpl" />
		<property name="targetMethod" value="obtainMarket" />
		<property name="concurrent" value="false" />
		<!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
	</bean>	

	<!-- 扫描交易对 -->
	<bean id="doScanPairTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doScanPair" />
		<property name="cronExpression" value="0/1 * * * * ?" />
	</bean>
	
	<bean id="doScanPair"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="exchangePairAOImpl" />
		<property name="targetMethod" value="scanPair" />
		<property name="concurrent" value="false" />
		<!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
	</bean>	
	
	<!-- 落地行情K线 -->
	<bean id="doSaveKLineTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doSaveKLine" />
		<property name="cronExpression" value="0 */1 * * * ?" />
	</bean>
	
	<bean id="doSaveKLine"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="exchangePairAOImpl" />
		<property name="targetMethod" value="saveKLineMin1" />
		<property name="concurrent" value="false" />
		<!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
	</bean>	
	
	<!-- 扫描存活撮合结果 -->
	<bean id="doScanMatchResultTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doScanMatchResult" />
		<property name="cronExpression" value="0/1 * * * * ?" />
	</bean>
	
	<bean id="doScanMatchResult"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="simuMatchResultAOImpl" />
		<property name="targetMethod" value="doCheckMatchResult" />
		<property name="concurrent" value="false" />
		<!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
	</bean>	

	<!-- 定时扫描待归集的ERC20订单 -->
	<bean id="doERC20CollectTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doERC20Collect" />
		<property name="cronExpression" value="0 */1 * * * ?"/><!-- 每分钟执行 -->
	</bean>
	<bean id="doERC20Collect"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="collectAOImpl" />
		<property name="targetMethod" value="doERC20Collect" />
		<property name="concurrent" value="false" />
	</bean>

	<!-- 定时扫描获取矿工费广播中的ERC20订单 -->
	<bean id="doERC20CheckGetFeeTxTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doERC20CheckGetFeeTx" />
		<property name="cronExpression" value="0 */1 * * * ?"/><!-- 每分钟执行 -->
	</bean>
	<bean id="doERC20CheckGetFeeTx"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="collectAOImpl" />
		<property name="targetMethod" value="doERC20CheckGetFeeTx" />
		<property name="concurrent" value="false" />
	</bean>
	
	
	<!-- 定时扫描归集广播中的ERC20订单 -->
	<bean id="doERC20CheckCollectTxTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doERC20CheckCollectTx" />
		<property name="cronExpression" value="0 */1 * * * ?"/><!-- 每分钟执行 -->
	</bean>
	<bean id="doERC20CheckCollectTx"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="collectAOImpl" />
		<property name="targetMethod" value="doERC20CheckCollectTx" />
		<property name="concurrent" value="false" />
	</bean>

	<!-- 定时扫描归集广播中的ETH订单 -->
	<bean id="doEthCollectTxTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doEthCollectTx" />
		<property name="cronExpression" value="0 */1 * * * ?"/><!-- 每分钟执行 -->
	</bean>
	<bean id="doEthCollectTx"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="collectAOImpl" />
		<property name="targetMethod" value="doEthCollectTx" />
		<property name="concurrent" value="false" />
	</bean>

	<!-- 定时扫描token和eth提现广播中的订单 -->
	<bean id="doETHAndTokenWithDrawGetTxTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doETHAndTokenWithDrawGetTx" />
		<property name="cronExpression" value="0 */1 * * * ?"/><!-- 每分钟执行 -->
	</bean>
	<bean id="doETHAndTokenWithDrawGetTx"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="withdrawAOImpl" />
		<property name="targetMethod" value="doETHAndTokenWithDrawGetTx" />
		<property name="concurrent" value="false" />
	</bean>
</beans>
