<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	
	<!-- 分页BO层注入paginableDao -->
	
	<bean id="accountBO" class="com.ogc.standard.bo.impl.AccountBOImpl">
		<property name="paginableDAO" ref="accountDAOImpl"/>
	</bean>
	
	<bean id="bankcardBO" class="com.ogc.standard.bo.impl.BankcardBOImpl">
		<property name="paginableDAO" ref="bankcardDAOImpl"/>
	</bean>
	
	<bean id="sysMenuBO" class="com.ogc.standard.bo.impl.SYSMenuBOImpl">
		<property name="paginableDAO" ref="sysMenuDAOImpl"/>
	</bean>
	
	<bean id="sysRoleBO" class="com.ogc.standard.bo.impl.SYSRoleBOImpl">
		<property name="paginableDAO" ref="sysRoleDAOImpl"/>
	</bean>
	
	<bean id="sysMenuRoleBO" class="com.ogc.standard.bo.impl.SYSMenuRoleBOImpl">
		<property name="paginableDAO" ref="sysMenuRoleDAOImpl"/>
	</bean>
	
	<bean id="cNavigateBO" class="com.ogc.standard.bo.impl.CNavigateBOImpl">
		<property name="paginableDAO" ref="cNavigateDAOImpl"/>
	</bean>
	
	<bean id="sysDictBO" class="com.ogc.standard.bo.impl.SYSDictBOImpl">
		<property name="paginableDAO" ref="sysDictDAOImpl"/>
	</bean>
	
	<bean id="sysConfigBO" class="com.ogc.standard.bo.impl.SYSConfigBOImpl">
		<property name="paginableDAO" ref="sysConfigDAOImpl"/>
	</bean>
	
	<bean id="sysUserBO" class="com.ogc.standard.bo.impl.SYSUserBOImpl">
		<property name="paginableDAO" ref="sysUserDAOImpl"/>
	</bean>
	
	<bean id="channelBankBO" class="com.ogc.standard.bo.impl.ChannelBankBOImpl">
		<property name="paginableDAO" ref="channelBankDAOImpl"/>
	</bean>

	<bean id="userBO" class="com.ogc.standard.bo.impl.UserBOImpl">
		<property name="paginableDAO" ref="userDAOImpl"/>
	</bean>
	
	<bean id="userRelationBO" class="com.ogc.standard.bo.impl.UserRelationBOImpl">
		<property name="paginableDAO" ref="userRelationDAOImpl"/>
	</bean>
	
	<bean id="userExtBO" class="com.ogc.standard.bo.impl.UserExtBOImpl">
		<property name="paginableDAO" ref="userExtDAOImpl"/>
	</bean>
	
	<bean id="signLogBO" class="com.ogc.standard.bo.impl.SignLogBOImpl">
		<property name="paginableDAO" ref="signLogDAOImpl"/>
	</bean>
	
	<bean id="smsBO" class="com.ogc.standard.bo.impl.SmsBOImpl">
		<property name="paginableDAO" ref="smsDAOImpl"/>
	</bean>
	
	<bean id="readBO" class="com.ogc.standard.bo.impl.ReadBOImpl">
		<property name="paginableDAO" ref="readDAOImpl"/>
	</bean>
	
	<bean id="interactBO" class="com.ogc.standard.bo.impl.InteractBOImpl">
		<property name="paginableDAO" ref="interactDAOImpl"/>
	</bean>

	<bean id="jourBO" class="com.ogc.standard.bo.impl.JourBOImpl">
		<property name="paginableDAO" ref="jourDAOImpl"/>
	</bean>
	
	<bean id="chargeBO" class="com.ogc.standard.bo.impl.ChargeBOImpl">
		<property name="paginableDAO" ref="chargeDAOImpl"/>
	</bean>
	
	<bean id="withdrawBO" class="com.ogc.standard.bo.impl.WithdrawBOImpl">
		<property name="paginableDAO" ref="withdrawDAOImpl"/>
	</bean>
	

	<bean id="companyBO" class="com.ogc.standard.bo.impl.CompanyBOImpl">
		<property name="paginableDAO" ref="companyDAOImpl"/>
	</bean>
	
	<bean id="applyBindMaintainBO" class="com.ogc.standard.bo.impl.ApplyBindMaintainBOImpl">
		<property name="paginableDAO" ref="applyBindMaintainDAOImpl"/>
	</bean>
	
	<bean id="adoptOrderBO" class="com.ogc.standard.bo.impl.AdoptOrderBOImpl">
		<property name="paginableDAO" ref="adoptOrderDAOImpl"/>
	</bean>

	<bean id="categoryBO" class="com.ogc.standard.bo.impl.CategoryBOImpl">
		<property name="paginableDAO" ref="categoryDAOImpl"/>
	</bean>
	
	<bean id="productBO" class="com.ogc.standard.bo.impl.ProductBOImpl">
		<property name="paginableDAO" ref="productDAOImpl"/>
	</bean>
</beans>
