<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<context:component-scan base-package="com.cdkj">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="toolUseRecordTrigger"/>
			    <ref bean="doCancelAdoptOrderTrigger"/>
			    <ref bean="doDailyAdoptOrderTrigger"/>
			    <ref bean="doDailyAdoptOrderTreeTrigger"/>
			    <ref bean="doExpireCarbonBubbleTrigger"/>
			    <ref bean="doDailyExpireGiftTrigger"/>
			    <ref bean="doDailyGroupAdoptOrderTrigger"/>
			    <ref bean="doCancelGroupAdoptOrderTrigger"/>
			    <ref bean="doInvalidIdentifyCodeTrigger"/>
			    <ref bean="doCancelPresellOrderTrigger"/>
			    <ref bean="doCancelCommodityOrderTrigger"/>
			    <ref bean="doDailyOriginalGroupTrigger"/>
			    <ref bean="doCancelGroupOrderTrigger"/>
 			</list>
		</property>
		<property name="autoStartup" value="true" />
	</bean>
	
	<!-- 道具使用是否过期扫描 -->
	<bean id="toolUseRecordTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="toolUseRecord" />
		<property name="cronExpression" value="0 0 */1 * * ?"/><!-- 每小时执行 -->
	</bean>
	
	<bean id="toolUseRecord"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="toolUseRecordAOImpl" />
		<property name="targetMethod" value="recordStatusValidater" />
		<property name="concurrent" value="false" />
		<!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
	</bean>	
	
	<!-- 订单过期扫描 -->
	<bean id="doCancelAdoptOrderTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doCancelAdoptOrder" />
		<property name="cronExpression" value="0 */15 * * * ?"/><!-- 每15分钟执行 -->
	</bean>
	
	<bean id="doCancelAdoptOrder"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="adoptOrderAOImpl" />
		<property name="targetMethod" value="doCancelAdoptOrder" />
		<property name="concurrent" value="false" />
	</bean> 
	
	
	<!-- 订单已支付或即将过期扫描 -->
	<bean id="doDailyAdoptOrderTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doDailyAdoptOrder" />
		<property name="cronExpression" value="0 0 0 * * ?"/><!-- 每天零点执行 -->
	</bean>
	
	<bean id="doDailyAdoptOrder"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="adoptOrderAOImpl" />
		<property name="targetMethod" value="doDailyAdoptOrder" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!-- 每天凌晨产生碳泡泡 -->
	<bean id="doDailyAdoptOrderTreeTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doDailyAdoptOrderTree" />
		<property name="cronExpression" value="0 0 0 * * ?"/><!-- 每天零点执行 -->
	</bean>
	
	<bean id="doDailyAdoptOrderTree"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="adoptOrderTreeAOImpl" />
		<property name="targetMethod" value="doDailyAdoptOrderTree" />
		<property name="concurrent" value="false" />
	</bean> 
	
	<!-- 碳泡泡过期扫描 -->
	<bean id="doExpireCarbonBubbleTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doExpireCarbonBubble" />
		<property name="cronExpression" value="0 0 */1 * * ?"/><!-- 每小时执行 -->
	</bean>
	
	<bean id="doExpireCarbonBubble"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="carbonBubbleOrderAOImpl" />
		<property name="targetMethod" value="expireCarbonBubble" />
		<property name="concurrent" value="false" />
	</bean> 
	
	<!-- 礼物过期扫描 -->
	<bean id="doDailyExpireGiftTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doDailyExpireGift" />
		<property name="cronExpression" value="0 0 0 * * ?"/><!-- 每天零点执行 -->
	</bean>
	
	<bean id="doDailyExpireGift"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="giftOrderAOImpl" />
		<property name="targetMethod" value="doDailyExpireGift" />
		<property name="concurrent" value="false" />
	</bean> 
	
	<!-- 集体订单认养/认养已过期扫描 -->
	<bean id="doDailyGroupAdoptOrderTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doDailyGroupAdoptOrder" />
		<property name="cronExpression" value="0 0 0 * * ?"/><!-- 每天零点执行 -->
	</bean>
	
	<bean id="doDailyGroupAdoptOrder"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="groupAdoptOrderAOImpl" />
		<property name="targetMethod" value="doDailyGroupAdoptOrder" />
		<property name="concurrent" value="false" />
	</bean> 
	
	<!-- 集体订单下单未支付扫描 -->
	<bean id="doCancelGroupAdoptOrderTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doCancelGroupAdoptOrder" />
		<property name="cronExpression" value="0 */15 * * * ?"/><!-- 每15分钟执行 -->
	</bean>
	
	<bean id="doCancelGroupAdoptOrder"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="groupAdoptOrderAOImpl" />
		<property name="targetMethod" value="doCancelGroupAdoptOrder" />
		<property name="concurrent" value="false" />
	</bean> 
	
	<!-- 集体订单过期识别码扫描 -->
	<bean id="doInvalidIdentifyCodeTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doInvalidIdentifyCode" />
		<property name="cronExpression" value="0 */15 * * * ?"/><!-- 每15分钟执行 -->
	</bean>
	
	<bean id="doInvalidIdentifyCode"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="groupAdoptOrderAOImpl" />
		<property name="targetMethod" value="doInvalidIdentifyCode" />
		<property name="concurrent" value="false" />
	</bean> 
	
	<!-- 预售订单未支付扫描 -->
	<bean id="doCancelPresellOrderTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doCancelPresellOrder" />
		<property name="cronExpression" value="0 */15 * * * ?"/><!-- 每15分钟执行 -->
	</bean>
	
	<bean id="doCancelPresellOrder"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="presellOrderAOImpl" />
		<property name="targetMethod" value="doCancelPresellOrder" />
		<property name="concurrent" value="false" />
	</bean> 
	
	<!-- 商城订单过期扫描 -->
	<bean id="doCancelCommodityOrderTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doCancelCommodityOrder" />
		<property name="cronExpression" value="0 */50 * * * ?"/><!-- 每50分钟执行 -->
	</bean>
	
	<bean id="doCancelCommodityOrder"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="commodityOrderAOImpl" />
		<property name="targetMethod" value="timeoutCancel" />
		<property name="concurrent" value="false" />
	</bean>
	<!-- 预售原生组开始认养扫描 -->
	<bean id="doDailyOriginalGroupTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doDailyOriginalGroup" />
		<property name="cronExpression" value="0 0 0 * * ?"/><!-- 每天零点执行 -->
	</bean>
	
	<bean id="doDailyOriginalGroup"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="originalGroupAOImpl" />
		<property name="targetMethod" value="doDailyOriginalGroup" />
		<property name="concurrent" value="false" />
	</bean> 

	<!-- 寄售订单未支付扫描 -->
	<bean id="doCancelGroupOrderTrigger"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doCancelGroupOrder" />
		<property name="cronExpression" value="0 */15 * * * ?"/><!-- 每15分钟执行 -->
	</bean>
	
	<bean id="doCancelGroupOrder"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="groupOrderAOImpl" />
		<property name="targetMethod" value="doCancelGroupOrder" />
		<property name="concurrent" value="false" />
	</bean> 
</beans>
