<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	
	<!-- 分页BO层注入paginableDao -->
	
	<bean id="sysMenuBO" class="com.ogc.standard.bo.impl.SYSMenuBOImpl">
		<property name="paginableDAO" ref="sysMenuDAOImpl"/>
	</bean>
	
	<bean id="sysRoleBO" class="com.ogc.standard.bo.impl.SYSRoleBOImpl">
		<property name="paginableDAO" ref="sysRoleDAOImpl"/>
	</bean>
	
	<bean id="sysMenuRoleBO" class="com.ogc.standard.bo.impl.SYSMenuRoleBOImpl">
		<property name="paginableDAO" ref="sysMenuRoleDAOImpl"/>
	</bean>
	
	<bean id="cNavigateBO" class="com.ogc.standard.bo.impl.CNavigateBOImpl">
		<property name="paginableDAO" ref="cNavigateDAOImpl"/>
	</bean>
	
	<bean id="sysDictBO" class="com.ogc.standard.bo.impl.SYSDictBOImpl">
		<property name="paginableDAO" ref="sysDictDAOImpl"/>
	</bean>
	
	<bean id="sysConfigBO" class="com.ogc.standard.bo.impl.SYSConfigBOImpl">
		<property name="paginableDAO" ref="sysConfigDAOImpl"/>
	</bean>
	
	<bean id="sysUserBO" class="com.ogc.standard.bo.impl.SYSUserBOImpl">
		<property name="paginableDAO" ref="sysUserDAOImpl"/>
	</bean>
	
	<bean id="channelBankBO" class="com.ogc.standard.bo.impl.ChannelBankBOImpl">
		<property name="paginableDAO" ref="channelBankDAOImpl"/>
	</bean>
	
	<bean id="companyBO" class="com.ogc.standard.bo.impl.CompanyBOImpl">
		<property name="paginableDAO" ref="companyDAOImpl"/>
	</bean>
	
	<bean id="departmentBO" class="com.ogc.standard.bo.impl.DepartmentBOImpl">
		<property name="paginableDAO" ref="departmentDAOImpl"/>
	</bean>
	
	<bean id="groupBO" class="com.ogc.standard.bo.impl.GroupBOImpl">
		<property name="paginableDAO" ref="groupDAOImpl"/>
	</bean>
	
	<bean id="groupCoinBO" class="com.ogc.standard.bo.impl.GroupCoinBOImpl">
		<property name="paginableDAO" ref="groupCoinDAOImpl"/>
	</bean>
	
	<bean id="attentionBO" class="com.ogc.standard.bo.impl.AttentionBOImpl">
		<property name="paginableDAO" ref="attentionDAOImpl"/>
	</bean>
	
	<bean id="dayBenefitBO" class="com.ogc.standard.bo.impl.DayBenefitBOImpl">
		<property name="paginableDAO" ref="dayBenefitDAOImpl"/>
	</bean>

	<bean id="userBO" class="com.ogc.standard.bo.impl.UserBOImpl">
		<property name="paginableDAO" ref="userDAOImpl"/>
	</bean>
	
	<bean id="userExtBO" class="com.ogc.standard.bo.impl.UserExtBOImpl">
		<property name="paginableDAO" ref="userExtDAOImpl"/>
	</bean>
	
	<bean id="blacklistBO" class="com.ogc.standard.bo.impl.BlacklistBOImpl">
		<property name="paginableDAO" ref="blacklistDAOImpl"/>
	</bean>
	
	<bean id="signLogBO" class="com.ogc.standard.bo.impl.SignLogBOImpl">
		<property name="paginableDAO" ref="signLogDAOImpl"/>
	</bean>
	
	<bean id="smsBO" class="com.ogc.standard.bo.impl.SmsBOImpl">
		<property name="paginableDAO" ref="smsDAOImpl"/>
	</bean>
	
	<bean id="readBO" class="com.ogc.standard.bo.impl.ReadBOImpl">
		<property name="paginableDAO" ref="readDAOImpl"/>
	</bean>
	
	<bean id="matchBO" class="com.ogc.standard.bo.impl.MatchBOImpl">
		<property name="paginableDAO" ref="matchDAOImpl"/>
	</bean>
	
	<bean id="matchApplyBO" class="com.ogc.standard.bo.impl.MatchApplyBOImpl">
		<property name="paginableDAO" ref="matchApplyDAOImpl"/>
	</bean>
	
	<bean id="teamBO" class="com.ogc.standard.bo.impl.TeamBOImpl">
		<property name="paginableDAO" ref="teamDAOImpl"/>
	</bean>
	
	
	<bean id="keywordBO" class="com.ogc.standard.bo.impl.KeywordBOImpl">
		<property name="paginableDAO" ref="keywordDAOImpl"/>
	</bean>
	
	<bean id="postBO" class="com.ogc.standard.bo.impl.PostBOImpl">
		<property name="paginableDAO" ref="postDAOImpl"/>
	</bean>
	
	<bean id="commentBO" class="com.ogc.standard.bo.impl.CommentBOImpl">
		<property name="paginableDAO" ref="commentDAOImpl"/>
	</bean>
	
	<bean id="interactBO" class="com.ogc.standard.bo.impl.InteractBOImpl">
		<property name="paginableDAO" ref="interactDAOImpl"/>
	</bean>
	
</beans>
