<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	
	<!-- 分页BO层注入paginableDao -->
	
	<bean id="accountBO" class="com.ogc.standard.bo.impl.AccountBOImpl">
		<property name="paginableDAO" ref="accountDAOImpl"/>
	</bean>
	
	<bean id="bankcardBO" class="com.ogc.standard.bo.impl.BankcardBOImpl">
		<property name="paginableDAO" ref="bankcardDAOImpl"/>
	</bean>
	
	<bean id="sysMenuBO" class="com.ogc.standard.bo.impl.SYSMenuBOImpl">
		<property name="paginableDAO" ref="sysMenuDAOImpl"/>
	</bean>
	
	<bean id="sysRoleBO" class="com.ogc.standard.bo.impl.SYSRoleBOImpl">
		<property name="paginableDAO" ref="sysRoleDAOImpl"/>
	</bean>
	
	<bean id="sysMenuRoleBO" class="com.ogc.standard.bo.impl.SYSMenuRoleBOImpl">
		<property name="paginableDAO" ref="sysMenuRoleDAOImpl"/>
	</bean>
	
	<bean id="cNavigateBO" class="com.ogc.standard.bo.impl.CNavigateBOImpl">
		<property name="paginableDAO" ref="cNavigateDAOImpl"/>
	</bean>
	
	<bean id="sysDictBO" class="com.ogc.standard.bo.impl.SYSDictBOImpl">
		<property name="paginableDAO" ref="sysDictDAOImpl"/>
	</bean>
	
	<bean id="sysConfigBO" class="com.ogc.standard.bo.impl.SYSConfigBOImpl">
		<property name="paginableDAO" ref="sysConfigDAOImpl"/>
	</bean>
	
	<bean id="sysUserBO" class="com.ogc.standard.bo.impl.SYSUserBOImpl">
		<property name="paginableDAO" ref="sysUserDAOImpl"/>
	</bean>
	
	<bean id="channelBankBO" class="com.ogc.standard.bo.impl.ChannelBankBOImpl">
		<property name="paginableDAO" ref="channelBankDAOImpl"/>
	</bean>

	<bean id="userBO" class="com.ogc.standard.bo.impl.UserBOImpl">
		<property name="paginableDAO" ref="userDAOImpl"/>
	</bean>
	
	<bean id="userRelationBO" class="com.ogc.standard.bo.impl.UserRelationBOImpl">
		<property name="paginableDAO" ref="userRelationDAOImpl"/>
	</bean>
	
	<bean id="userExtBO" class="com.ogc.standard.bo.impl.UserExtBOImpl">
		<property name="paginableDAO" ref="userExtDAOImpl"/>
	</bean>
	
	<bean id="signLogBO" class="com.ogc.standard.bo.impl.SignLogBOImpl">
		<property name="paginableDAO" ref="signLogDAOImpl"/>
	</bean>
	
	<bean id="addressBO" class="com.ogc.standard.bo.impl.AddressBOImpl">
		<property name="paginableDAO" ref="addressDAOImpl"/>
	</bean>
	
	<bean id="smsBO" class="com.ogc.standard.bo.impl.SmsBOImpl">
		<property name="paginableDAO" ref="smsDAOImpl"/>
	</bean>
	
	<bean id="readBO" class="com.ogc.standard.bo.impl.ReadBOImpl">
		<property name="paginableDAO" ref="readDAOImpl"/>
	</bean>
	
	<bean id="interactBO" class="com.ogc.standard.bo.impl.InteractBOImpl">
		<property name="paginableDAO" ref="interactDAOImpl"/>
	</bean>

	<bean id="jourBO" class="com.ogc.standard.bo.impl.JourBOImpl">
		<property name="paginableDAO" ref="jourDAOImpl"/>
	</bean>
	
	<bean id="chargeBO" class="com.ogc.standard.bo.impl.ChargeBOImpl">
		<property name="paginableDAO" ref="chargeDAOImpl"/>
	</bean>
	
	<bean id="withdrawBO" class="com.ogc.standard.bo.impl.WithdrawBOImpl">
		<property name="paginableDAO" ref="withdrawDAOImpl"/>
	</bean>
	
	<bean id="companyBO" class="com.ogc.standard.bo.impl.CompanyBOImpl">
		<property name="paginableDAO" ref="companyDAOImpl"/>
	</bean>
	
	<bean id="applyBindMaintainBO" class="com.ogc.standard.bo.impl.ApplyBindMaintainBOImpl">
		<property name="paginableDAO" ref="applyBindMaintainDAOImpl"/>
	</bean>
	
	<bean id="adoptOrderBO" class="com.ogc.standard.bo.impl.AdoptOrderBOImpl">
		<property name="paginableDAO" ref="adoptOrderDAOImpl"/>
	</bean>
	
	<bean id="groupAdoptOrderBO" class="com.ogc.standard.bo.impl.GroupAdoptOrderBOImpl">
		<property name="paginableDAO" ref="groupAdoptOrderDAOImpl"/>
	</bean>
	
	<bean id="adoptOrderTreeBO" class="com.ogc.standard.bo.impl.AdoptOrderTreeBOImpl">
		<property name="paginableDAO" ref="adoptOrderTreeDAOImpl"/>
	</bean>

	<bean id="categoryBO" class="com.ogc.standard.bo.impl.CategoryBOImpl">
		<property name="paginableDAO" ref="categoryDAOImpl"/>
	</bean>
	
	<bean id="productBO" class="com.ogc.standard.bo.impl.ProductBOImpl">
		<property name="paginableDAO" ref="productDAOImpl"/>
	</bean>
	
	<bean id="treeBO" class="com.ogc.standard.bo.impl.TreeBOImpl">
		<property name="paginableDAO" ref="treeDAOImpl"/>
	</bean>
	
	<bean id="productSpecsBO" class="com.ogc.standard.bo.impl.ProductSpecsBOImpl">
		<property name="paginableDAO" ref="productSpecsDAOImpl"/>
	</bean>
	
	<bean id="giveTreeRecordBO" class="com.ogc.standard.bo.impl.GiveTreeRecordBOImpl">
		<property name="paginableDAO" ref="giveTreeRecordDAOImpl"/>
	</bean>
	
	<bean id="bizLogBO" class="com.ogc.standard.bo.impl.BizLogBOImpl">
		<property name="paginableDAO" ref="bizLogDAOImpl"/>
	</bean>
	
	<bean id="agentUserBO" class="com.ogc.standard.bo.impl.AgentUserBOImpl">
		<property name="paginableDAO" ref="agentUserDAOImpl"/>
	</bean>
	
	<bean id="maintainerBO" class="com.ogc.standard.bo.impl.MaintainerBOImpl">
		<property name="paginableDAO" ref="maintainerDAOImpl"/>
	</bean>
	
	<bean id="maintainProjectBO" class="com.ogc.standard.bo.impl.MaintainProjectBOImpl">
		<property name="paginableDAO" ref="maintainProjectDAOImpl"/>
	</bean>
	
	<bean id="maintainRecordBO" class="com.ogc.standard.bo.impl.MaintainRecordBOImpl">
		<property name="paginableDAO" ref="maintainRecordDAOImpl"/>
	</bean>
	
	<bean id="settleBO" class="com.ogc.standard.bo.impl.SettleBOImpl">
		<property name="paginableDAO" ref="settleDAOImpl"/>
	</bean>
	
	<bean id="giveCarbonBubbleRecordBO" class="com.ogc.standard.bo.impl.GiveCarbonBubbleRecordBOImpl">
		<property name="paginableDAO" ref="giveCarbonBubbleRecordDAOImpl"/>
	</bean>
	
	<bean id="shareRecordBO" class="com.ogc.standard.bo.impl.ShareRecordBOImpl">
		<property name="paginableDAO" ref="shareRecordDAOImpl"/>
	</bean>
	
	<bean id="articleBO" class="com.ogc.standard.bo.impl.ArticleBOImpl">
		<property name="paginableDAO" ref="articleDAOImpl"/>
	</bean>
	
	<bean id="toolBO" class="com.ogc.standard.bo.impl.ToolBOImpl">
		<property name="paginableDAO" ref="toolDAOImpl"/>
	</bean>
	
	<bean id="toolOrderBO" class="com.ogc.standard.bo.impl.ToolOrderBOImpl">
		<property name="paginableDAO" ref="toolOrderDAOImpl"/>
	</bean>
	
	<bean id="toolUseRecordBO" class="com.ogc.standard.bo.impl.ToolUseRecordBOImpl">
		<property name="paginableDAO" ref="toolUseRecordDAOImpl"/>
	</bean>
	
	<bean id="carbonBubbleOrderBO" class="com.ogc.standard.bo.impl.CarbonBubbleOrderBOImpl">
		<property name="paginableDAO" ref="carbonBubbleOrderDAOImpl"/>
	</bean>
	
	<bean id="giftOrderBO" class="com.ogc.standard.bo.impl.GiftOrderBOImpl">
		<property name="paginableDAO" ref="giftOrderDAOImpl"/>
	</bean>
	
	<bean id="commodityBO" class="com.ogc.standard.bo.impl.CommodityBOImpl">
		<property name="paginableDAO" ref="commodityDAOImpl"/>
	</bean>
	
	<bean id="commoditySpecsBO" class="com.ogc.standard.bo.impl.CommoditySpecsBOImpl">
		<property name="paginableDAO" ref="commoditySpecsDAOImpl"/>
	</bean>

	<bean id="cartBO" class="com.ogc.standard.bo.impl.CartBOImpl">
		<property name="paginableDAO" ref="cartDAOImpl"/>
	</bean>
	
	<bean id="commodityOrderBO" class="com.ogc.standard.bo.impl.CommodityOrderBOImpl">
		<property name="paginableDAO" ref="commodityOrderDAOImpl"/>
	</bean>
	
	<bean id="commodityOrderDetailBO" class="com.ogc.standard.bo.impl.CommodityOrderDetailBOImpl">
		<property name="paginableDAO" ref="commodityOrderDetailDAOImpl"/>
	</bean>
	
	<bean id="postageTemplateBO" class="com.ogc.standard.bo.impl.PostageTemplateBOImpl">
		<property name="paginableDAO" ref="postageTemplateDAOImpl"/>
	</bean>
	
	<bean id="commentBO" class="com.ogc.standard.bo.impl.CommentBOImpl">
		<property name="paginableDAO" ref="commentDAOImpl"/>
	</bean>
	
	<bean id="keywordBO" class="com.ogc.standard.bo.impl.KeywordBOImpl">
		<property name="paginableDAO" ref="keywordDAOImpl"/>
	</bean>
	
	<bean id="sessionBO" class="com.ogc.standard.bo.impl.SessionBOImpl">
		<property name="paginableDAO" ref="sessionDAOImpl"/>
	</bean>
	
	<bean id="sessionMessageBO" class="com.ogc.standard.bo.impl.SessionMessageBOImpl">
		<property name="paginableDAO" ref="sessionMessageDAOImpl"/>
	</bean>
	
	<bean id="presellProductBO" class="com.ogc.standard.bo.impl.PresellProductBOImpl">
		<property name="paginableDAO" ref="presellProductDAOImpl"/>
	</bean>
	
	<bean id="presellSpecsBO" class="com.ogc.standard.bo.impl.PresellSpecsBOImpl">
		<property name="paginableDAO" ref="presellSpecsDAOImpl"/>
	</bean>
	
	<bean id="presellOrderBO" class="com.ogc.standard.bo.impl.PresellOrderBOImpl">
		<property name="paginableDAO" ref="presellOrderDAOImpl"/>
	</bean>
	
	<bean id="originalGroupBO" class="com.ogc.standard.bo.impl.OriginalGroupBOImpl">
		<property name="paginableDAO" ref="originalGroupDAOImpl"/>
	</bean>
	
	<bean id="presellInventoryBO" class="com.ogc.standard.bo.impl.PresellInventoryBOImpl">
		<property name="paginableDAO" ref="presellInventoryDAOImpl"/>
	</bean>
	
	<bean id="presellLogisticsBO" class="com.ogc.standard.bo.impl.PresellLogisticsBOImpl">
		<property name="paginableDAO" ref="presellLogisticsDAOImpl"/>
	</bean>
	
	<bean id="deriveGroupBO" class="com.ogc.standard.bo.impl.DeriveGroupBOImpl">
		<property name="paginableDAO" ref="deriveGroupDAOImpl"/>
	</bean>
	
	<bean id="groupOrderBO" class="com.ogc.standard.bo.impl.GroupOrderBOImpl">
		<property name="paginableDAO" ref="groupOrderDAOImpl"/>
	</bean>
	
</beans>
